<select name="lighting_protection"
		id="lighting_protection"
		class="form-control"
		[(ngModel)]="model">
	<option *ngFor="let item of items"  [value]="item[value]">{{ item[text] }}</option>
</select>