<div *ngIf="!_AppService.user.isLoggedIn">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Вы не авторизованы!
    <button mat-raised-button
            (click)="_AppService._router.navigate(['/login'])"
            color="primary"
            type="submit"
            class="home-button">Войти</button>
  </div>
</div>


<mat-card>
    <mat-card-title>
        <mat-toolbar>
            Справка{{ help.title!='-' ? ': '+help.title : '' }}
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
		<div class="help_content" [innerHtml]="help.text"></div>
    </mat-card-content>
</mat-card>

