<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Режимная карта
        </mat-panel-title>
        <mat-panel-description>
            редактирвоание и вывод на печать
        </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <button mat-raised-button color="primary" (click)="saveRegimCard()">
        <mat-icon>save</mat-icon>
        &nbsp;Сохранить
    </button>
    <button mat-raised-button color="primary" (click)="_reports.print('regim', urg?.id)">
        <mat-icon>print</mat-icon>
        &nbsp;Печать
    </button>

    <br>
    <br>

    <ng-template ngFor let-eq [ngForOf]="equipment" [ngForTrackBy]="trackByFn" let-i="index">
                <ng-template ngFor let-eqn [ngForOf]="eq" [ngForTrackBy]="trackByFn" let-j="index">
                    <table class="table table-sm table-bordered" style="width: 500px; box-shadow: 1px 2px 4px;" *ngIf="eqn?.devices?.length>0">
                        <thead>
                        <tr>
                            <th class="text-center">параметр</th>
                            <th class="text-center">зима, МПа</th>
                            <th class="text-center">лето, МПа</th>
                        </tr>
                        </thead>
                        <tbody>
                    <tr class="table-primary">
                       <td colspan="3" class="text-center">
                           {{ types[eqn.type] }}  №{{ j+1 }}
                       </td>
                    </tr>
                    <ng-container *ngFor="let item of eqn.devices; trackBy: trackByFn; let i=index">
                        <ng-container *ngIf="('_32_,_81_,_82_').match('_'+item.id_eq_type+'_')">
                            <tr class="table-secondary">
                                <td colspan="3" class="text-center">
                                    <b>{{ _refbookService.equipment[item.id_eq_type].name }} {{item.data.model.id > 0 ? '- '+item.data.model.model : '' }}</b>
                                </td>
                            </tr>


                                    <ng-container [ngSwitch]="item.id_eq_type">
                                        <ng-container *ngSwitchCase="32">
                                            <tr>
                                                <td>P<sub>вх.</sub></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.w.in"></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.s.in"></td>
                                            </tr>
                                            <tr>
                                                <td>P<sub>вых.</sub></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.w.out"></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.s.out"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container [ngSwitch]="item.id_eq_type">
                                        <ng-container *ngSwitchCase="81">
                                            <tr>
                                                <td>P<sub>вых.Min</sub></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.w.in"></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.s.in"></td>
                                            </tr>
                                            <tr>
                                                <td>P<sub>вых.Max</sub></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.w.out"></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.s.out"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container [ngSwitch]="item.id_eq_type">
                                        <ng-container *ngSwitchCase="82">
                                            <tr>
                                                <td>P<sub>вых.Max</sub></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.w.out"></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="item.data.pressure_data?.s.out"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>



                        </ng-container>
                    </ng-container>
                        </tbody>
                    </table>
                </ng-template>
    </ng-template>
</mat-expansion-panel>