<div *ngIf="this._AppService.redirectUrl!=''  && !_AppService.user.isLoggedIn">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<strong>403.</strong>
		Для перехода к <strong>{{ _AppService.redirectUrl }}</strong> необходима авторизация
	</div>
</div>

<mat-card>
	<mat-card-title>
		<mat-toolbar>

			<span *ngIf="login_in_progress || !_AppService.user.isLoggedIn">{{ message }}</span>
			<span *ngIf="_AppService.user.isLoggedIn">Вы вошли как: </span>
			<span *ngIf="_AppService.user.isLoggedIn"> {{ _AppService.user.name }}</span>
			<div *ngIf="_AppService.auth_in_progress" style="margin-left: 20px; color: rgb(6, 140, 126);">
				<mat-progress-spinner [diameter]="30" [strokeWidth]="4"  mode="indeterminate"></mat-progress-spinner>
				Аутентификация...
			</div>
			<!--<mat-spinner *ngIf="login_in_progress" style="display: inline-block; height: 30px; width:30px"><mat-spinner>-->
			<span class="fill-remaining-space"></span>
		</mat-toolbar>
	</mat-card-title>
	<mat-card-content>

		<form (submit)="login()" class="home-form" *ngIf="!_AppService.user.isLoggedIn">
			<mat-input-container>
				<input [(ngModel)]="user.name"
					   matInput
					   name="name"
					   type="text"
					   class="home-input"
					   placeholder="Логин"
					   ngDefaultControl>
			</mat-input-container>
			<br>
			<mat-input-container>
				<input [(ngModel)]="user.pass"
					   matInput
					   name="pass"
					   type="password"
					   class="home-input"
					   placeholder="Пароль"
					   ngDefaultControl>
			</mat-input-container>
			<br>
			<mat-checkbox
				[(ngModel)]="user.remember_me"
				class="example-margin"
				name="remember_me"
				[disabled]="true"
				[align]="start">
					Запомнить меня
			</mat-checkbox>
			<br>
			<button mat-raised-button
					[disabled]="login_in_progress"
					(click)="login()"
					color="primary"
					type="submit"
					class="home-button">
				<mat-icon>directions_run</mat-icon>
				Войти
			</button>

		</form>


		<div *ngIf="_AppService.user.isLoggedIn">

			<br>
			<br>
			<button mat-raised-button color="primary" (click)="logout()" class="home-button">
				<mat-icon>rowing</mat-icon>
				Выйти
			</button>
		</div>
	</mat-card-content>
</mat-card>

