<div class="alert alert-warning" *ngIf="!data || data.length==0">
    Нет данных для отображения
</div>

<ng-container *ngIf="data && data.length>0">
	<mat-toolbar>
		<span class="badge">Показано: {{ (page.currentPage-1)*page.itemsPP+1 }}-{{ page.currentPage*page.itemsPP<=totalCount ? page.currentPage*page.itemsPP : totalCount }} из {{ totalCount }}</span>
		&nbsp;
		<span class="badge">Выбрано: {{ selectedMap.size }}</span>
		&nbsp;
		<button mat-raised-button (click)="selectAll()">
			<mat-icon>check_box</mat-icon>
			Выбрать всё
		</button>
		&nbsp;
		<button mat-raised-button (click)="unselectAll()">
			<mat-icon>check_box_outline_blank</mat-icon>
			Снять выделение
		</button>
		&nbsp;
		<select class="form-control pp"
		        style="display: inline-block; width: 70px"
		        #ppp
		        [(ngModel)]="page.itemsPP"
		        (change)="onPerPageChanged(ppp.value)"
		        matTooltip="Количество строк на странице" [matTooltipShowDelay]="400">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="1000000">Все</option>
		</select>
	</mat-toolbar>

	<div style="; overflow: auto" [ngStyle]="{ 'max-height.px': maxHeight }">
	    <table class="table table-sm table-striped table-hover table-custom table-condensed" [ngClass]="disabled ? 'disabled' : ''">
	        <thead>
	            <tr>
	                <th *ngIf="_AppService.dbg"></th>
	                <th *ngIf="checkBoxes"></th>
		            <th>№ п/п</th>
	                <ng-container *ngFor="let head of headers">
	                    <th *ngIf="head.sort; else elseBlock" class="sortable"
	                        [ngClass]="getHeaderClass(head.field)">
	                        <span class="sort-indicator" (click)="onHeaderClick(head.field, $event)">{{ head.title }}</span>
	                    </th>
	                    <ng-template #elseBlock>
	                        <th>{{ head.title }}</th>
	                    </ng-template>
	                </ng-container>
	            </tr>
	        </thead>
	        <tr *ngFor="let item of data; trackBy: trackByFn; let i=index"
	            (click)="onRowClick(item)"
	            [ngClass]="{'selected':selectedMap.has(item.id)}">
		        <td *ngIf="_AppService.dbg">
			        [{{ item.id }}]
		        </td>
	            <td *ngIf="checkBoxes">
	                <input type="checkbox" [checked]="selectedMap.has(item.id)">
	            </td>
		        <td>
			        {{ page.itemsPP*(page.currentPage-1)+i+1 }}
		        </td>
	            <td *ngFor="let head of headers">
	                {{ head.field ? getValue(item, head.field) : '' }}
	            </td>
	        </tr>
	    </table>
	</div>
	<div class="pages" *ngIf="page.itemsPP<=totalCount">
		<pagination
				[hidden]="page.itemsPP*1 > totalCount*1"
				[itemsPerPage]="page.itemsPP"
				previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
				[boundaryLinks]="true"
				[totalItems]="totalCount"
				[(ngModel)]="page.currentPage"
				[rotate]="false"
				[maxSize]="20"
				(numPages)="numPages = $event"
				(pageChanged)="onPageChanged($event)">
		</pagination>

		<div class="summary">
			страница <b>{{ page.currentPage }}</b> из <b>{{ numPages }}</b>
		</div>
	</div>
</ng-container>
