<mat-card>
	<mat-card-title>
		<mat-toolbar [color]="myColor">
			Выборка данных
		</mat-toolbar>
	</mat-card-title>
	<mat-card-content>
		Параметры поиска
		<br>
		<button mat-raised-button
				*ngIf="_AppService.checkRole('edit')"
				color="primary"
				type="button"
				(click)="runSearch()">
			<mat-icon>search</mat-icon>
			&nbsp;Пказать результат
		</button>
	</mat-card-content>
</mat-card>
