.img-preview {
  width: 100%;
}

.mnt_point_btn {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-around;
}

.mnt_point_btn button {
  margin-bottom: 5px;
}


.mat-nav-list .mat-list-item .mat-list-avatar {
  width: 30px;
  height: 30px;
}