<mat-card class="parent-card">
	<mat-card-title>

		<mat-toolbar>
			<span>{{ title }}  в </span>
			<div class="col-sm-3">
				<select *ngIf="!_AppService.checkRole('root')"
						name="sub_unit"
						id="sub_unit"
						class="form-control"
						(change)="unitSelect($event.target.value)"
						[(ngModel)]="urg.id_unit">
					<option [value]="unit.id">{{ unit.name }}</option>
					<ng-template ngFor let-child [ngForOf]="unit.childs">
						<option [value]="child.id">&nbsp; {{ child.name }}</option>
						<option *ngFor="let item of child?.childs" [value]="item.id">&nbsp;&nbsp;&nbsp; - {{ item.name }}
						</option>
					</ng-template>
				</select>
				<select *ngIf="_AppService.checkRole('root')"
						name="sub_unit"
						id="sub_unit"
						class="form-control"
						(change)="unitSelect($event.target.value)"
						[(ngModel)]="urg.id_unit">
					<ng-container *ngFor="let item of (_unitService.indexOPGH2[_AppService.app.currentOPGH.id].childs)">
						<option [value]="item.id">{{ item.name }}</option>
						<option [value]="child.id" *ngFor="let child of item.childs">&nbsp;&nbsp;&nbsp; - {{ child.name }}</option>
					</ng-container>
				</select>
			</div>

			<div style="display: table-cell; vertical-align: middle">
				<help [param]="'urg/edit'"></help>
			</div>


			<span class="fill-remaining-space"></span>

			<a mat-icon-button
			   color="primary"
			   [attr.href]="''+ _AppService.server_params.panorama_Url + 'urg_id='+ urg?.id"
			   target="_blank"
			   matTooltip="Перейти к Панораме" [matTooltipShowDelay]="400">
				<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
				<mat-icon>my_location</mat-icon>
			</a>
			&nbsp;
			<button *ngIf="(urg.id | asNumber) > 0"
					type="button"
					mat-icon-button
					color="primary"
					(click)="viewUrg(urg.id)"
					matTooltip="Перейти в режим просмотра" [matTooltipShowDelay]="400">
				<mat-icon>visibility</mat-icon>
			</button>
			&nbsp;
			<button mat-icon-button
					type="button"
					*ngIf="(urg.id | asNumber) > 0"
					color="primary"
					(click)="refreshData()"
					matTooltip="Обновить данные" [matTooltipShowDelay]="400">
				<mat-icon>refresh</mat-icon>
			</button>
			&nbsp;
			<button mat-icon-button
					type="button"
					*ngIf="_AppService.checkRole('edit')"
					color="primary"
					(click)="saveUrg()"
					matTooltip="Сохранить изменения" [matTooltipShowDelay]="400">
				<mat-icon>save</mat-icon>
			</button>
		</mat-toolbar>

		<md-debug *ngIf="_AppService.dbg" [src]="{id_unit: _AppService.app.currentUnit.id, id: urg.id  }"></md-debug>

	</mat-card-title>
	<mat-card-content>
		<div class="content">
			<form #urgForm="ngForm" *ngIf="active">
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							Основное
							<span class="fill-remaining-space"></span>
						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<div class="form-group row disabled">
							<label for="type_urg" class="flex col-md-3 col-xs-4 col-form-label disabled">
								ID
								&nbsp;
								<help [param]="'urg/id'"></help>
							</label>

							<div class="col-lg-2 col-md-3 col-xs-8">
								<input type="number" disabled value="{{urg.id}}" class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="type_urg" class="col-md-3 col-xs-4 col-form-label required">Вид УРГ</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<ng-select [items]="(_refbookService.alldata | byParent:1)"
										   [textField]="'name'"
										   id="type_urg"
										   (data)="urg.id_type_urg = $event.id"
										   [active]="[_refbookService.indexedData[urg.id_type_urg] ? _refbookService.indexedData[urg.id_type_urg].name : '']"
										   placeholder="Не выбран вид УРГ">
								</ng-select>
							</div>
						</div>
						<!--<div class="form-group row">-->
						<!--<label for="type_urg" class="col-lg-2 col-md-3 col-xs-4 col-form-label required">Вид УРГ</label>-->
						<!--<div class="col-lg-2 col-md-3 col-xs-8">-->
						<!--<select name="type_urg"-->
						<!--class="form-control"-->
						<!--id="type_urg"-->
						<!--required-->
						<!--[(ngModel)]="urg.id_type_urg">-->
						<!--<option *ngFor="let item of (_refbookService.alldata | byParent:1)"-->
						<!--[value]="item.id"-->
						<!--[class]="item.id<0 ? 'red' : ''">{{ item.name }}</option>-->
						<!--</select>-->
						<!--</div>-->
						<!--</div>-->
						<div class="form-group row" *ngIf="false">
							<label for="num_unique" class="col-md-3 col-xs-4 col-form-label">Уникальный номер</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input [disabled]="true"
									   autocomplete="off"
									   id="num_unique"
									   name="num_unique"
									   [(ngModel)]="urg.num_unique"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="address_descr" class="col-md-3 col-xs-4 col-form-label required">Номер объекта</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input id="number"
									   name="number"
									   required
									   type="text"
									   autocomplete="off"
									   [(ngModel)]="urg.num"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="num_inventory" class="col-md-3 col-xs-4 col-form-label">Инвентарный
								номер {{ (urg.id_type_urg >0 && _refbookService.indexedData[urg.id_type_urg]) ? _refbookService.indexedData[urg.id_type_urg].name : '' }}</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input id="num_inventory"
									   name="num_inventory"
									   autocomplete="off"
									   [(ngModel)]="urg.num_inventory"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row" *ngIf="urg.id_type_urg==1001 || urg.id_type_urg==1002">
							<label for="num_inventory_eq" class="col-md-3 col-xs-4 col-form-label">Инвентарный
								номер оборудования</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input id="num_inventory_eq"
									   name="num_inventory_eq"
									   autocomplete="off"
									   [(ngModel)]="urg.num_inventory_eq"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="num_archiv" class="col-md-3 col-xs-4 col-form-label">Архивный
								номер</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input id="num_archiv"
									   name="num_archiv"
									   autocomplete="off"
									   [(ngModel)]="urg.num_archiv"
									   class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label for="date_acceptance" class="col-md-3 col-xs-4 col-form-label required">Дата
								приёмки</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<datetime name="date_acceptance"
										  id="date_acceptance"
										  [datepicker]="datepickerOpts"
										  [timepicker]="false"
										  [(ngModel)]="urg.date_acceptance"></datetime>
							</div>
						</div>
						<div class="form-group row">
							<label for="date_startup_gas" class="col-md-3 col-xs-4 col-form-label">Первичный пуск</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<datetime name="date_startup_gas"
										  id="date_startup_gas"
										  [datepicker]="datepickerOpts"
										  [timepicker]="false"
										  [(ngModel)]="urg.date_startup_gas"></datetime>
							</div>
						</div>
						<div class="form-group row">
							<label for="date_starting" class="col-md-3 col-xs-4 col-form-label required">Дата
								ввода в эксплуатацию</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<datetime name="date_starting"
										  id="date_starting"
										  [datepicker]="datepickerOpts"
										  [timepicker]="false"
										  [(ngModel)]="urg.date_starting"></datetime>
							</div>
						</div>

						<div class="form-group row">
							<label for="calc_capacity" class="col-md-3 col-xs-4 col-form-label">Расчётная пропускная способность, м<sup>3</sup>/ч</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<input name="calc_capacity"
									   id="calc_capacity"
									   type="number"
									   step="any"
									   class="form-control"
									   [(ngModel)]="urg.calc_capacity">
							</div>
						</div>
						<div class="form-group row" *ngIf="urg.master">
							<label for="master.name" class="flex col-md-3 col-xs-4 col-form-label">
								Ответственный за эксплуатацию
								&nbsp;
								<help [param]="'urg/edit/master'"></help>
							</label>
							<div class="col-lg-6 col-md-8 col-xs-8" *ngIf="!masterInEdit">
								<div style="border: 1px solid #dcdcdc; padding: 1px 5px; border-radius: 2px;">
									<ng-container *ngFor="let m of urg?.mastersHistory; first as isFirst">
										<div style="display: table-row" [ngClass]="{'text-muted':!isFirst}">
											<div style="display: table-cell">{{ m.name }}, </div>
											<div style="display: table-cell" >&nbsp;</div>
											<div style="display: table-cell" > {{ m.post }}, </div>
											<div style="display: table-cell" >&nbsp;</div>
											<div style="display: table-cell"> c {{ m.date | date:'dd.MM.y' }}</div>
											<div style="display: table-cell" >&nbsp;</div>
											<div style="display: table-cell" >
												<mat-icon class="text-primary"
												          style="cursor: pointer; font-size: 12px; width: 15px; height: 13px; line-height: 6px;"
												          (click)="editMaster(m)"
												          matTooltip="Изменить запись" [matTooltipShowDelay]="300">edit</mat-icon>
												<mat-icon  *ngIf="urg?.mastersHistory.length>1"
												           class="text-danger"
												           style="cursor: pointer; font-size: 12px; width: 15px; height: 13px; line-height: 6px;"
												           (click)="deleteMaster(m)"
												           matTooltip="Удалить запись" [matTooltipShowDelay]="300">cancel</mat-icon>
											</div>
										</div>
									</ng-container>
									<button mat-button
											(click)="addMaster()"
											color="primary">
										<mat-icon>add</mat-icon>&nbsp;Добавить ответственного
									</button>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-xs-8 has-glyphicon" *ngIf="masterInEdit" style="border: 1px solid #dcdcdc; padding: 1px 5px; border-radius: 2px;">
									<input id="master.name"
										   name="master.name"
                                           class="form-control"
                                           placeholder="ФИО"
										   autocomplete="off"
										   #master
										   [(ngModel)]="urg.master.name"
										   [typeahead]="_urgService.searchMaster(master.value)"
										   [typeaheadMinLength]="3"
										   [typeaheadWaitMs]="300"
										   (typeaheadOnSelect)="typeaheadMasterOnSelect($event)"
										   [typeaheadOptionsLimit]="20"
										   [typeaheadOptionField]="'name'"
										   (focus)="$event.target.select()"
										   class="form-control search">
									<span class="glyphicon glyphicon-search attached-glyphicon"></span>

								<input name="master.post"
									   id="master.post"
									   class="form-control"
									   placeholder="Должность"
									   [(ngModel)]="urg.master.post">
								<datetime name="master.date"
										  id="master.date"
										  [datepicker]="datepickerOpts"
										  [timepicker]="false"
										  [(ngModel)]="urg.master.date"></datetime>
								<button type="button"
										mat-raised-button
										color="warn"
										matTooltip="Отмена" [matTooltipShowDelay]="400"
										(click)="cancelMaster()">
									<mat-icon>cancel</mat-icon>
								</button>
								<button type="button"
										mat-raised-button
										color="primary"
										matTooltip="Изменить ответственное лицо" [matTooltipShowDelay]="400"
										(click)="saveMaster(urg.master)">
									<mat-icon>save</mat-icon>
								</button>
							</div>
						</div>

						<div class="form-group row has-glyphicon">
							<label for="id_owner" class="flex col-md-3 col-xs-4 col-form-label required">
								Балансовая принадлежность
								&nbsp;
								<help [param]="'urg/edit/owner'"></help>
							</label>
							<div class="col-lg-2 col-md-3 col-xs-7">
								<input id="id_owner"
									   name="id_owner"
									   autocomplete="off"
									   #own
									   [(ngModel)]="urg.owner.name"
									   [typeahead]="_urgService.searchOwner(own.value)"
									   [typeaheadMinLength]="3"
									   [typeaheadWaitMs]="300"
									   (typeaheadLoading)="changeTypeaheadLoading('owner', $event)"
									   (typeaheadNoResults)="changeTypeaheadNoResults('owner', $event)"
									   (typeaheadOnSelect)="typeaheadOwnerOnSelect('owner', $event)"
									   [typeaheadOptionsLimit]="20"
									   [typeaheadOptionField]="'name'"
									   (focus)="$event.target.select()"
									   class="form-control search">
								<span class="glyphicon glyphicon-search attached-glyphicon"></span>
							</div>

							<span *ngIf="typeaheadLoading['owner']===true" class="glyphicon glyphicon-refresh"
								  style="line-height: 2; color: mediumblue"></span>
							<span *ngIf="typeaheadNoResults['owner']===true" class="glyphicon glyphicon-remove"
								  style="line-height: 2; color: red"> соответствия не найдены</span>
							<span *ngIf="typeaheadSelected['owner']===true" class="glyphicon glyphicon-ok"
								  style="line-height: 2; color: green"></span>

						</div>

						<hr>

						<div class="form-group row">
							<label for="num_archiv" class="col-lg-2 col-md-3 col-xs-4 col-form-label">Примечание</label>
							<div class="col-lg-10 col-md-9 col-xs-8">
                                <textarea id="descr"
										  name="descr"
										  [(ngModel)]="urg.descr"
										  class="form-control"></textarea>
							</div>
						</div>

						<hr>

						<div class="form-group row">
							<label for="lastwork" class="col-md-2 col-xs-3 col-form-label">Дата последнего обхода</label>
							<div class="col-lg-2 col-md-3 col-xs-8">
								<datetime name="lastwork"
								          id="lastwork"
								          [datepicker]="datepickerOpts"
								          [timepicker]="false"
								          [(ngModel)]="urg.lastwork"></datetime>
							</div>
							<button (click)="addLastWork(urg.id, urg.lastwork)" mat-raised-button color="primary">Сохранить дату последнего обхода</button>
						</div>

					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							Оборудование
							&nbsp;
							<help [param]="'urg/edit/equipment'"></help>
							&nbsp;

							<span class="fill-remaining-space"></span>
							<button mat-icon-button
									type="button"
									[disabled]="urg.id<0"
									color="primary"
									(click)="reloadEquipment()"
									matTooltip="Обновить список оборудования" [matTooltipShowDelay]="400">
								<mat-icon>refresh</mat-icon>
							</button>

						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>

						<div *ngIf="true">

							<table class="table">
								<thead>
								<tr>
									<th>Номер входа/выхода:</th>
									<th class="text-center">1</th>
									<th class="text-center">2</th>
									<th class="text-center">3</th>
									<th class="text-center">4</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Давление на входах линий, МПа:</td>
									<td>
										<input name="pressure_in_1"
											   id="pressure_in_1"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_in_1">
									</td>
									<td>
										<input name="pressure_in_2"
											   id="pressure_in_2"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_in_2">
									</td>
									<td>
										<input name="pressure_in_3"
											   id="pressure_in_3"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_in_3">
									</td>
									<td>
										<input name="pressure_in_4"
											   id="pressure_in_4"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_in_4">
									</td>
								</tr>
								<tr>
									<td>Давление на выходах линий, МПа:</td>
									<td>
										<input name="pressure_out_1"
											   id="pressure_out_1"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_out_1">
									</td>
									<td>
										<input name="pressure_out_2"
											   id="pressure_out_2"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_out_2">
									</td>
									<td>
										<input name="pressure_out_3"
											   id="pressure_out_3"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_out_3">
									</td>
									<td>
										<input name="pressure_out_4"
											   id="pressure_out_4"
											   type="number"
											   step="any"
											   autocomplete="off"
											   class="form-control"
											   [(ngModel)]="urg.pressure_out_4">
									</td>
								</tr>
								</tbody>
							</table>

							<hr>

							<div *ngIf="urg.id<0"
								 class="alert alert-warning"
								 role="alert">
								<strong>Внимание!</strong> Для добавления оборудования необходимо сохранить объект!
							</div>
							<div *ngIf="equipment.length==0 && (urg.id | asNumber)>0" class="alert alert-warning">
								Оборудование ещё не добавлялось
							</div>
							<div *ngIf="(urg.id | asNumber)>0">

								<div class="mnt_point_btn">
									<button mat-raised-button color="primary" type="button" (click)="addMountPoint('enter')">Добавить вход&nbsp;&nbsp;<span class="badge badge-inverse">{{ equipment.enter?.length }}</span></button>
									<button mat-raised-button color="primary" type="button" (click)="addMountPoint('line')">Добавить линию редуцирования&nbsp;&nbsp;<span class="badge badge-inverse">{{ equipment.line?.length }}</span></button>
									<button mat-raised-button color="primary" type="button" (click)="addMountPoint('exit')">Добавить выход&nbsp;&nbsp;<span class="badge badge-inverse">{{ equipment.exit?.length }}</span></button>
									<br>
									<button mat-raised-button color="primary" type="button" (click)="addMountPoint('bypass')">Добавить байпас&nbsp;&nbsp;<span class="badge badge-inverse">{{ equipment.bypass?.length }}</span></button>
									<button mat-raised-button color="primary" type="button" (click)="addMountPoint('heating')">Добавить линию отопления&nbsp;&nbsp;<span class="badge badge-inverse">{{ equipment.heating?.length }}</span></button>
								</div>
								<br>
								<br>
								<!-- ------------------------------------------------------------------------- -->
								<urg-equipment *ngIf="true" [parent]=getThis() [equipment]="equipment.enter"
											   [type]="'enter'"></urg-equipment>
								<urg-equipment *ngIf="true" [parent]=getThis() [equipment]="equipment.line"
											   [type]="'enter'"></urg-equipment>
								<urg-equipment *ngIf="true" [parent]=getThis() [equipment]="equipment.exit"
											   [type]="'exit'"></urg-equipment>
								<urg-equipment *ngIf="true" [parent]=getThis() [equipment]="equipment.bypass"
											   [type]="'bypass'"></urg-equipment>
								<urg-equipment *ngIf="true" [parent]=getThis() [equipment]="equipment.heating"
											   [type]="'heating'"></urg-equipment>
								<!-- ------------------------------------------------------------------------- -->

								<!--<div class="modal fade" bsModal #modal_upload_equipment="bs-modal" tabindex="-1" role="dialog"-->
									 <!--aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
									<!--<div class="modal-dialog modal-lg">-->
										<!--<div class="modal-content">-->

											<!--<div class="modal-header">-->
												<!--<h4 class="modal-title">Загрузка файлов</h4>-->
											<!--</div>-->

											<!--<div class="modal-body">-->
												<!--<div class="panel-body">-->
													<!--<file-upload-section *ngIf="fileToEquipment"-->
																		 <!--[metadata]="{id_urg: fileToEquipment.eq_id, id_unit: _AppService.app.currentUnit}"></file-upload-section>-->
												<!--</div>-->
											<!--</div>-->

											<!--<div class="modal-footer">-->
												<!--<button type="button" class="btn btn-success" (click)="fileToEquipment=null; modal_upload_equipment.hide()">-->
													<!--<span class="glyphicon glyphicon-ok"></span>-->
													<!--&nbsp;Закончить-->
												<!--</button>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<!-- ------------------------------------------------------------------------- -->

							</div>
						</div>
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->

				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							<span>Контрольно-измерительные приборы</span>
							&nbsp;
							<help [param]="'urg/edit/instrumentation'"></help>
							<span class="fill-remaining-space"></span>

							<button mat-icon-button
									type="button"
									[disabled]="urg.id<0"
									color="primary"
									(click)="reloadInstrumentations()"
									matTooltip="Обновить список приборов" [matTooltipShowDelay]="400">
								<mat-icon>refresh</mat-icon>
							</button>
							&nbsp;
							<button
								type="button"
								[disabled]="urg.id<0"
								*ngIf="_AppService.checkRole('edit')"
								mat-icon-button
								color="primary"
								(click)="addInstrumentations()"
								matTooltip="Добавить прибор" [matTooltipShowDelay]="400">
								<mat-icon>add</mat-icon>
							</button>

						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<div *ngIf="urg.id<0"
							 class="alert alert-warning"
							 role="alert">
							<strong>Внимание!</strong> Для добавления КИП необходимо сохранить объект!
						</div>
						<div *ngIf="(urg.id | asNumber)>0">
							<urg-instrumentation *ngIf="true" #urg_instrumentation [parent]=getThis()
												 [instrumentation]="instrumentation"></urg-instrumentation>
						</div>
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							Закольцован
							&nbsp;
							<help [param]="'urg/edit/ring'"></help>
							<span class="fill-remaining-space"></span>
							&nbsp;
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit') && urg.ring.length>0"
									[disabled]="urg.id<0"
									color="warn"
									(click)="excludeFromRing(urg)"
									matTooltip="Удалить из кольца" [matTooltipShowDelay]="400">
								<mat-icon>delete</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									type="button"
									[disabled]="urg.id<0"
									color="primary"
									(click)="refreshRing()"
									matTooltip="Обновить данные о закольцованности" [matTooltipShowDelay]="400">
								<mat-icon>refresh</mat-icon>
							</button>
						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<div *ngIf="urg.id<0"
							 class="alert alert-warning"
							 role="alert">
							<strong>Внимание!</strong> Для добавления в кольцо необходимо сохранить объект!
						</div>

						<div class="form-inline"
							 *ngIf="true">
							<select name="opgh_r"
									id="opgh_r"
									[disabled]="true"
									class="form-control"
									[(ngModel)]="searchRing.opgh"
									(change)="searchRing.unit=null">
								<option *ngFor="let o of _unitService.units; let i=index"
										[value]="o.id">{{ o.name }}
								</option>
							</select>

							<select name="opgh_ch"
									id="opgh_ch"
									class="form-control"
									[(ngModel)]="searchRing.unit">
								<option value="0">-</option>
								<ng-template ngFor let-child [ngForOf]="_unitService.indexOPGH2[searchRing.opgh].childs">
									<option [value]="child.id">&nbsp; {{ child.name }} {{ child.count.length>0 ? '('+child.count[0].split(':')[1]+')' : '' }}</option>
									<option *ngFor="let item of child?.childs" [value]="item.id">&nbsp;&nbsp;&nbsp; - {{
										item.name }} {{ item.count.length>0 ? '('+item.count[0].split(':')[1]+')' : '' }}
									</option>
								</ng-template>
							</select>
							Тип:
							<select name="type_urg_r"
									id="type_urg_r"
									class="form-control"
									[(ngModel)]="searchRing.type">
								<option value="0">-</option>
								<ng-template ngFor let-item [ngForOf]="(_refbookService.alldata | byParent:1)">
									<option *ngIf="item.id>0" [value]="item.id">{{ item.name }}</option>
								</ng-template>
							</select>

						</div>
						<br>
						<div class="form-group form-inline" *ngIf="_unitService.loaded && (urg.id | asNumber)>0 && _AppService.checkRole('edit')">
							<button mat-raised-button
									type="button"
									[disabled]="optionsModel.length==0"
									(click)="makeRing(optionsModel, 'urg')"
									color="primary"
									matTooltip="Объединить текущий объект в кольцо с выбранными объектами" [matTooltipShowDelay]="400"
									class="home-button">
								<mat-icon>rotate_90_degrees_ccw</mat-icon>
								&nbsp;Текущий УРГ + выбранные <span class="badge badge-inverse" *ngIf="optionsModel.length!=0"><span>1</span>+<span>{{ getUrgCountFromSelected() }}</span></span>
							</button>
							<button mat-raised-button
									type="button"
									[disabled]="optionsModel.length==0"
									(click)="makeRing(optionsModel, 'ring')"
									color="primary"
									matTooltip="Объединить кольцо текущего объекта с выбранными объектами" [matTooltipShowDelay]="400"
									class="home-button">
								<mat-icon>rotate_90_degrees_ccw</mat-icon>
								&nbsp;Текущее кольцо + выбранные <span class="badge badge-inverse" *ngIf="optionsModel.length!=0"><span>{{ urg.ring.length+1 }}</span>+<span>{{ getUrgCountFromSelected() }}</span></span>
							</button>
							<ss-multiselect-dropdown [options]="myOptions"
													 *ngIf="true"
													 [texts]="myTexts"
													 [settings]="mySettings"
													 name="myOptions"
													 [(ngModel)]="optionsModel"
													 (ngModelChange)="changeListForRing($event)">
							</ss-multiselect-dropdown>
							<button mat-raised-button
									type="button"
									matTooltip="Перезагрузить список" [matTooltipShowDelay]="400"
									(click)="getRingList()">
								<mat-icon>refresh</mat-icon>
								<span class="badge">{{ searchRing.ring_search_res.length }}</span>
							</button>
						</div>

						<hr>

						<div *ngIf="(urg.id | asNumber)>0">
							<mat-nav-list>
								<mat-list-item *ngFor="let ur of urg.ring; let i=index">
									<div>
										{{ i+1 }})
										&nbsp;
										&nbsp;
										<!-- span class="text-muted">{{ ur.id }}</span -->
										&nbsp;
										&nbsp;
										{{ _refbookService.indexedData[ur.id_type_urg]?.name }} - {{ ur.num }}
										&nbsp;
										&nbsp;
										<span class="text-muted">({{ _unitService.indexOPGH_flat[ur.id_unit].name }})</span>

									</div>

									<span class="fill-remaining-space"></span>

									<button mat-icon-button
											type="button"
											color="primary"
											(click)="viewUrg(ur.id)"
											matTooltip="Перейти в режим просмотра" [matTooltipShowDelay]="400">
										<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
										<mat-icon>visibility</mat-icon>
									</button>
									&nbsp;
									<button mat-icon-button
											type="button"
											color="primary"
											(click)="editUrg(ur.id)"
											matTooltip="Перейти в режим редактирования" [matTooltipShowDelay]="400">
										<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
										<mat-icon>mode_edit</mat-icon>
									</button>
									&nbsp;
									<button mat-icon-button
											type="button"
											*ngIf="_AppService.checkRole('edit')"
											matTooltip="Исключить из кольца" [matTooltipShowDelay]="400"
											(click)="excludeFromRing(ur)">
										<mat-icon class="text-danger">delete</mat-icon>
									</button>
								</mat-list-item>
							</mat-nav-list>
						</div>
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							Адрес
							&nbsp;<help [param]="'urg/edit/address'"></help>
							<span class="fill-remaining-space"></span>
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									color="warn"
										(click)="deleteAddr(urg.address.id)"
									matTooltip="Удалить адрес" [matTooltipShowDelay]="400">
								<mat-icon>delete</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									color="primary"
									(click)="saveUrg()"
									matTooltip="Сохранить изменения" [matTooltipShowDelay]="400">
								<mat-icon>save</mat-icon>
							</button>

						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>

						<div class="form-group row has-glyphicon">
							<label for="region" class="col-lg-2 col-md-3 col-xs-4 col-form-label">Район</label>
							<div class="col-lg-2 col-md-3 col-xs-7">
								<input id="region"
									   name="region"
									   autocomplete="off"
									   (focus)="$event.target.select()"
									   [(ngModel)]="urg.address.region.name"
									   [typeahead]="regionSource"
									   [typeaheadMinLength]="2"
									   [typeaheadWaitMs]="300"
									   [typeaheadScrollable]="true"
									   [typeaheadOptionsInScrollableView]="10"
									   (typeaheadLoading)="changeTypeaheadLoading('region', $event)"
									   (typeaheadNoResults)="changeTypeaheadNoResults('region', $event)"
									   (typeaheadOnSelect)="typeaheadOnSelect('region', $event)"
									   [typeaheadOptionsLimit]="20"
									   [typeaheadOptionField]="'name'"
									   (keyup.delete)="clearAddresPart(urg.address.region)"
									   (keyup.backspace)="clearAddresPart(urg.address.region)"
									   class="form-control">
								<span class="glyphicon glyphicon-search attached-glyphicon"></span>
							</div>
							<span *ngIf="typeaheadLoading['region']===true" class="glyphicon glyphicon-refresh"
								  style="line-height: 2; color: mediumblue"></span>
							<span *ngIf="typeaheadNoResults['region']===true" class="glyphicon glyphicon-remove"
								  style="line-height: 2; color: red"> соответствия не найдены</span>
							<span *ngIf="typeaheadSelected['region']===true" class="glyphicon glyphicon-ok"
								  style="line-height: 2; color: green"></span>
						</div>

						<div class="form-group row has-glyphicon">
							<label for="np" class="col-lg-2 col-md-3 col-xs-4 col-form-label">Населённый пункт</label>
							<div class="col-lg-2 col-md-3 col-xs-7">
								<input id="np"
									   name="np"
									   autocomplete="off"
									   (focus)="$event.target.select()"
									   [disabled]="!urg?.address?.region?.id || urg?.address?.region?.id<0"
									   [(ngModel)]="urg.address.np.name"
									   [typeahead]="npSource"
									   [typeaheadMinLength]="2"
									   [typeaheadWaitMs]="300"
									   [typeaheadScrollable]="true"
									   [typeaheadOptionsInScrollableView]="10"
									   (typeaheadLoading)="changeTypeaheadLoading('np',$event)"
									   (typeaheadNoResults)="changeTypeaheadNoResults('np',$event)"
									   (typeaheadOnSelect)="typeaheadOnSelect('np',$event)"
									   [typeaheadOptionsLimit]="20"
									   [typeaheadOptionField]="'name'"
									   (keyup.delete)="clearAddresPart(urg.address.np)"
									   (keyup.backspace)="clearAddresPart(urg.address.np)"
									   class="form-control">
								<span class="glyphicon glyphicon-search attached-glyphicon"></span>
							</div>
							<span *ngIf="typeaheadLoading['np']===true" class="glyphicon glyphicon-refresh"
								  style="line-height: 2; color: mediumblue"></span>
							<span *ngIf="typeaheadNoResults['np']===true" class="glyphicon glyphicon-remove"
								  style="line-height: 2; color: red"> соответствия не найдены</span>
							<span *ngIf="typeaheadSelected['np']===true" class="glyphicon glyphicon-ok"
								  style="line-height: 2; color: green"></span>
						</div>
						<div class="form-group row has-glyphicon">
							<label for="street" class="col-lg-2 col-md-3 col-xs-4 col-form-label">Улица</label>
							<div class="col-lg-2 col-md-3 col-xs-7">
								<input id="street"
									   name="street"
									   autocomplete="off"
									   (focus)="$event.target.select()"
									   [disabled]="!urg.address.np.id || urg.address.np.id<0"
									   [(ngModel)]="urg.address?.street.name"
									   [typeahead]="streetSource"
									   [typeaheadMinLength]="2"
									   [typeaheadWaitMs]="300"
									   [typeaheadScrollable]="true"
									   [typeaheadOptionsInScrollableView]="10"
									   (typeaheadLoading)="changeTypeaheadLoading('street',$event)"
									   (typeaheadNoResults)="changeTypeaheadNoResults('street',$event)"
									   (typeaheadOnSelect)="typeaheadOnSelect('street',$event)"
									   [typeaheadOptionsLimit]="20"
									   [typeaheadOptionField]="'name'"
									   (keyup.delete)="clearAddresPart(urg.address.street)"
									   (keyup.backspace)="clearAddresPart(urg.address.street)"
									   class="form-control">
								<span class="glyphicon glyphicon-search attached-glyphicon"></span>
							</div>
							<span *ngIf="typeaheadLoading['street']===true" class="glyphicon glyphicon-refresh"
								  style="line-height: 2; color: mediumblue"></span>
							<span *ngIf="typeaheadNoResults['street']===true" class="glyphicon glyphicon-remove"
								  style="line-height: 2; color: red"> соответствия не найдены</span>
							<span *ngIf="typeaheadSelected['street']===true" class="glyphicon glyphicon-ok"
								  style="line-height: 2; color: green"></span>
						</div>
						<div class="form-group row">
							<label for="house" class="col-lg-2 col-md-3 col-xs-4 col-form-label">Дом</label>
							<div class="col-xs-2">
								<input autocomplete="off"
									   id="house"
									   name="house"
									   [disabled]="!urg.address.street.id || urg.address.street.id<0"
									   [(ngModel)]="urg.address.house"
									   class="form-control">
							</div>
							<label for="building" class="col-xs-1 col-form-label">корпус</label>
							<div class="col-xs-2">
								<input autocomplete="off"
									   id="building"
									   name="building"
									   [disabled]="!urg.address.house || urg.address.house.trim()==''"
									   [(ngModel)]="urg.address.building"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="address_descr" class="flex col-lg-2 col-md-3 col-xs-4 col-form-label">
								GPS-координаты
								&nbsp;
								<help [param]="'urg/edit/gps'"></help>
							</label>

							<div class="col-xs-2">
								<input
									id="gps_x"
									type="number"
									step="any"
									name="gps_x"
									[(ngModel)]="urg.gps.X"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<input
									id="gps_y"
									type="number"
									step="any"
									name="gps_y"
									[(ngModel)]="urg.gps.Y"
									class="form-control">
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="address_descr"
								   class="col-lg-2 col-md-3 col-xs-4 col-form-label">Примечание</label>
							<div class="col-lg-10 col-md-9 col-xs-8">
                                <textarea
									id="address_descr"
									name="address_descr"
									[(ngModel)]="urg.address_descr"
									class="form-control"></textarea>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card>
					<mat-card-title>
						<mat-toolbar>
							Характеристика здания
							<span class="fill-remaining-space"></span>
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									[disabled]="urg.id<0"
									color="primary"
									(click)="refreshRooms(true)"
									matTooltip="Обновить данные" [matTooltipShowDelay]="400">
								<mat-icon>refresh</mat-icon>
							</button>
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									[disabled]="urg.id<0"
									color="primary"
									(click)="showRoomDialog()"
									matTooltip="Добавить помещение" [matTooltipShowDelay]="400">
								<mat-icon>add</mat-icon>
							</button>
						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<div>


							<table *ngIf="urg.rooms.length>0"
								   class="table table-striped table-hover table-condensed table-sm equipment-table">
								<caption class="text-left">
									Помещения:
								</caption>
								<thead>
								<tr>
									<th></th>
									<th>Назначение</th>
									<th>Площадь, м<sup>2</sup></th>
									<th>Примечание</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let item of urg.rooms; let i=index">
									<td width="100">{{ i+1 }}</td>
									<td>{{ _refbookService.indexedData[item.id_type]?.name }}</td>
									<td>{{ item.area }}</td>
									<td>{{ item.descr }}</td>
									<td width="100">
										<div class="btn-group"
											 role="group"
											 aria-label="..."
											 *ngIf="_AppService.checkRole('edit')">

											<button class="btn btn-sm btn-default"
													type="button"
													(click)="showRoomDialog(item)"
													matTooltip="Редактировать" [matTooltipShowDelay]="400">
												<span class="text-primary glyphicon glyphicon-pencil"></span>
											</button>
											<button class="btn btn-sm btn-default"
													type="button"
													(click)="deleteRoom(item)"
													matTooltip="Удалить" [matTooltipShowDelay]="400">
												<span class="text-danger glyphicon glyphicon-trash"></span>
											</button>

										</div>
									</td>
								</tr>
								<tr *ngIf="urg.id<0">
									<td colspan="5">
										<div
											class="alert alert-warning"
											role="alert">
											<strong>Внимание!</strong> Для добавления помещений необходимо сохранить
											объект!
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<hr>
						<br>
						<div class="form-group row" *ngIf="checkVisible('building_type', urg?.id_type_urg)">
							<label for="building_type" class="col-xs-2 col-form-label">Вид здания (тип
								конструкции)</label>
							<div class="col-xs-3">
								<select name="building_type"
										id="building_type"
										class="form-control"
										[(ngModel)]="urg.id_building_type">
									<option *ngFor="let item of (_refbookService.alldata | byParent:2)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="id_manufacturer" class="col-xs-2 col-form-label">Изготовитель</label>
							<div class="col-xs-3">
								<select name="id_manufacturer"
										id="id_manufacturer"
										class="form-control"
										[(ngModel)]="urg.id_manufacturer">
									<option *ngFor="let item of (_refbookService.alldata | byParent:4)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row" *ngIf="checkVisible('floor_material', urg?.id_type_urg)">
							<label for="floor_material" class="col-xs-2 col-form-label">Материал пола</label>
							<div class="col-xs-3">
								<select name="floor_material"
										id="floor_material"
										class="form-control"
										[(ngModel)]="urg.id_floor_material">
									<option *ngFor="let item of (_refbookService.alldata | byParent:14)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="power_supply" class="col-xs-2 col-form-label">Электроснабжение</label>
							<div class="col-xs-3">
								<select name="power_supply"
										id="power_supply"
										class="form-control"
										[(ngModel)]="urg.id_power_supply">
									<option *ngFor="let item of (_refbookService.alldata | byParent:3)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="power_supply" class="col-xs-2 col-form-label">Система освещения</label>
							<div class="col-xs-3">
								<select name="light"
										id="light"
										class="form-control"
										[(ngModel)]="urg.id_light">
									<option *ngFor="let item of (_refbookService.alldata | byParent:52)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row"  *ngIf="checkVisible('heating', urg?.id_type_urg)">
							<label for="heating" class="col-xs-2 col-form-label">Система отопления</label>
							<div class="col-xs-3">
								<select name="heating"
										id="heating"
										class="form-control"
										[(ngModel)]="urg.id_heating">
									<option *ngFor="let item of (_refbookService.alldata | byParent:9)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
								<!--( выбрать котёл из ВДГО?)-->
							</div>
						</div>
						<div class="form-group row">
							<label for="ventilation" class="col-xs-2 col-form-label">Система вентиляции</label>
							<div class="col-xs-3">
								<select name="ventilation"
										id="ventilation"
										class="form-control"
										[(ngModel)]="urg.id_ventilation">
									<option *ngFor="let item of (_refbookService.alldata | byParent:50)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="communication" class="col-xs-2 col-form-label">Система связи</label>
							<div class="col-xs-3">
								<select name="communication"
										id="communication"
										class="form-control"
										[(ngModel)]="urg.id_communication">
									<option *ngFor="let item of (_refbookService.alldata | byParent:13)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="telemetry" class="col-xs-2 col-form-label">Система телеметрии</label>
							<div class="col-xs-3">
								<select name="telemetry"
										id="telemetry"
										class="form-control"
										[(ngModel)]="urg.id_telemetry">
									<option *ngFor="let item of (_refbookService.alldata | byParent:51)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="extinguishing" class="col-xs-2 col-form-label">Противопожарное
								оборудование</label>
							<div class="col-xs-3">
								<select name="extinguishing"
										id="extinguishing"
										class="form-control"
										[(ngModel)]="urg.id_extinguishing">
									<option *ngFor="let item of (_refbookService.alldata | byParent:12)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="lighting_protection" class="col-xs-2 col-form-label">Молниезащита</label>
							<div class="col-xs-2">
								<select name="lighting_protection"
										id="lighting_protection"
										class="form-control"
										[(ngModel)]="urg.id_lighting_protection">
									<option *ngFor="let item of (_refbookService.alldata | byParent:8)"
											[class]="item.id<0 ? 'red' : ''"
											[value]="item.id">{{ item.name }}
									</option>
								</select>
							</div>
							<label for="lighting_protection_resistance" class="col-lg-1 col-xs-2 col-form-label">Сопротивление, Ом</label>
							<div class="col-xs-2">
								<input autocomplete="off"
									   id="lighting_protection_resistance"
									   name="lighting_protection_resistance"
									   [(ngModel)]="urg.lighting_protection_resistance"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="barrier" class="col-xs-2 col-form-label">Наличие ограждения</label>
							<div class="col-xs-3">
								<mat-checkbox id="barrier"
											 name="barrier"
											 [(ngModel)]="urg.barrier">
								</mat-checkbox>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-xs-5 col-form-label">Расстояние до наружного отключающего
								устройства</label>
						</div>

						<div class="form-group row form-inline">
							<div class="col-xs-5">
								<label for="dist_enter" class="">на входе, м:</label>
								<input type="number"
									   autocomplete="off"
									   id="dist_enter"
									   class="form-control"
									   name="dist_enter"
									   [(ngModel)]="urg.dist_enter">
								<br>
								<label for="dist_exit" class="">на выходе, м:</label>
								<input type="number"
									   autocomplete="off"
									   id="dist_exit"
									   class="form-control"
									   name="dist_exit"
									   [(ngModel)]="urg.dist_exit">
							</div>
						</div>
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card *ngIf="false">
					<mat-card-title>
						<mat-toolbar>
							Схема
							<span class="fill-remaining-space"></span>
						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<input type="file">
					</mat-card-content>
				</mat-card>
				<br>
				<!-- ---------------------------------------------------------------------------------- -->
				<mat-card id="files">
					<mat-card-title>
						<mat-toolbar>
							<span>Файлы <span
								class="badge">{{ urg.files.length>0 ? urg.files.length : 'не загружены' }}</span></span>

							<span class="fill-remaining-space"></span>


							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									[disabled]="urg.id<0"
									color="primary"
									(click)="saveFile()"
									matTooltip="Сохранить изменения в файлах" [matTooltipShowDelay]="400">
								<mat-icon>save</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									type="button"
									[disabled]="urg.id<0"
									color="primary"
									(click)="reloadFiles()"
									matTooltip="Обновить список файлов" [matTooltipShowDelay]="400">
								<mat-icon>refresh</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									type="button"
									*ngIf="_AppService.checkRole('edit')"
									[disabled]="urg.id<0"
									color="primary"
									(click)="addFile()"
									matTooltip="Добавить файл" [matTooltipShowDelay]="400">
								<mat-icon>add</mat-icon>
							</button>

						</mat-toolbar>
					</mat-card-title>
					<mat-card-content>
						<div *ngIf="urg.id<0"
							 class="alert alert-warning"
							 role="alert">
							<strong>Внимание!</strong> Для загрузки файлов необходимо сохранить объект!
						</div>
						<mat-nav-list *ngIf="(urg.id | asNumber)>0">
							<mat-list-item *ngFor="let file of urg.files; let i=index">
								<div>{{ i+1 }}.</div>
								&nbsp;
								&nbsp;
								<a href="{{ _AppService.baseURL+file.link }}" target="_blank">
									<mat-icon mat-list-avatar svgIcon="{{ file.ext.toLowerCase() }}"></mat-icon>
								</a>

								<div class="col-lg-10">
									<div class="col-lg-4 col-sm-6">
										<input class="form-control" type="text" name="file_name_{{file.id}}"
											   [(ngModel)]="file.title">
									</div>
									<div class="col-lg-2 col-sm-4">
										<select name="category_{{file.id}}" id="category" class="form-control"
												[(ngModel)]="file.id_category">
											<option value="0">Другое</option>
											<option value="1">Схема</option>
											<option value="2">Фотография</option>
											<option value="3">Документ</option>
										</select>
									</div>

								</div>

								<span *ngIf="!file.exist" class="label label-danger">Файл не найден!</span><div *ngIf="!file.exist">&nbsp;&nbsp;&nbsp;</div>

								<span class="fill-remaining-space"></span>

								<div>
									{{ file.size }}
								</div>
								<div *ngIf="_AppService.checkRole('edit')" style="width: 100px;">
									<button type="button" mat-icon-button (click)="saveFile(file)">
										<!--<mat-icon fontSet="glyphicon" fontIcon="glyphicon-floppy-disk"><mat-icon>-->
										<mat-icon>save</mat-icon>
									</button>

									<button type="button" mat-icon-button (click)="deleteFile(file)">
										<!--<mat-icon fontSet="glyphicon" fontIcon="glyphicon-trash"><mat-icon>-->
										<mat-icon class="text-danger">delete</mat-icon>
									</button>
								</div>
							</mat-list-item>
						</mat-nav-list>
					</mat-card-content>
				</mat-card>
				<!-- ---------------------------------------------------------------------------------- -->

				<div class="bottom-corner" *ngIf="_AppService.checkRole('edit')">
					<button mat-fab
							type="button"
							color="primary"
							(click)="saveUrg()"
							matTooltip="Сохранить изменения в УРГ" [matTooltipShowDelay]="400">
						<mat-icon>save</mat-icon>
					</button>
				</div>
			</form>
		</div>
	</mat-card-content>
</mat-card>
<br>
<br>
<md-debug *ngIf="_AppService.dbg" [src]="{URG: urg}"></md-debug>

<!-- ----------------------------------------------------------------------------- -->


<!-- ----------------------------------------------------------------------------- -->

<div class="modal fade" bsModal #modal_room="bs-modal" tabindex="-1" role="dialog"
	 aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
<!--<modal #modal_room (onClose)="saveRoom(tmp_room)" (onDismiss)="cancelSaveRoom(tmp_room)">-->
			<div class="modal-header">
				<h4 class="modal-title">{{ tmp_room.id>0 ? 'Редактировать '+tmp_room.id : 'Добавить'}}</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modal_room.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="form-group row">
					<label for="id_type_room" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Назначение помещения</label>
					<div class="col-lg-7 col-md-7 col-xs-8">
						<select name="id_type_room"
								id="id_type_room"
								class="form-control"
								[(ngModel)]="tmp_room.id_type">
							<option *ngFor="let item of (_refbookService.alldata | byParent:10)"
									[class]="item.id<0 ? 'red' : ''"
									[value]="item.id">{{ item.name }}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="area_room" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Площадь, м<sup>2</sup></label>
					<div class="col-lg-7 col-md-7 col-xs-8">
						<input name="area_room"
							   id="area_room"
							   class="form-control"
							   [(ngModel)]="tmp_room.area">
					</div>
				</div>
				<div class="form-group row">
					<label for="descr_room" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Примечание</label>
					<div class="col-lg-7 col-md-7 col-xs-8">
						<textarea name="descr_room"
								  id="descr_room"
								  class="form-control"
								  [(ngModel)]="tmp_room.descr"></textarea>
					</div>
				</div>
				<md-debug *ngIf="_AppService.dbg" [src]="{tmp_room: tmp_room}"></md-debug>

			</div>

			<div class="modal-footer">
				<button class="btn btn-danger" (click)="cancelSaveRoom(tmp_room); modal_room.hide()">
					<span class="glyphicon glyphicon-ban-circle"></span>
					&nbsp;Отмена
				</button>
				<button class="btn btn-success" (click)="saveRoom(tmp_room); modal_room.hide()">
					<span class="glyphicon glyphicon-trash"></span>
					&nbsp;Сохранить
				</button>
			</div>
		</div>
	</div>
</div>

