<ng-template ngFor let-eq [ngForOf]="equipment" let-i="index">
	<mat-card [class]="parent.equipment_load_in_progress ? 'disabled' : ''">
		<mat-card-title>
				<h3>
					{{ types[eq.type] }}  №{{ i+1 }}
					<div class="btn-group" *ngIf="_AppService.checkRole('edit')">
						<button type="button"
								class="btn btn-default dropdown-toggle"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false">
							<span class="glyphicon glyphicon-plus"></span>
							&nbsp;
							Добавить <span class="caret"></span>
						</button>

						<ul class="dropdown-menu">
							<ng-template ngFor let-item [ngForOf]="(_refbookService.equipment | keys)">
								<li [value]="item.value.id">
									<a href="#" (click)="addEquipment(eq, item.value.id, i)">{{ item.value.name }}</a>
								</li>
							</ng-template>
							<li role="separator" class="divider"></li>
							<li *ngIf="false"><a href="#" (click)="parent.deleteMountPoint(eq.type, i)">Удалить {{ types[eq.type] }} №{{ i+1 }}</a></li>
							<li><a href="#" (click)="do_nothing()">Отмена</a></li>
						</ul>
					</div>
					<button class="btn btn-success" type="button" *ngIf="sorted[eq.type+'#'+(i+1)]" (click)="saveOrder(eq.type+'#'+(i+1))">Сохранить сортировку</button>
				</h3>
		</mat-card-title>
		<mat-card-content>
			<table class="table table-striped table-hover table-condensed table-sm equipment-table" *ngIf="_refbookService.loaded">
				<!--<caption>-->
					<!---->
				<!--</caption>-->
				<thead>
					<tr>
						<th></th>
						<th>Наименование</th>
						<th>Тип</th>
						<th>Модель</th>
						<th>Диаметр</th>
						<th>Год<br>выпуска</th>
						<th>Дата<br>установки</th>
						<th>Назначенный<br>срок службы</th>
						<th>Номер<br>на схеме</th>
						<th></th>
					</tr>
				</thead>
				<tbody dnd-sortable-container [sortableData]="eq.devices">
					<tr *ngFor="let device of eq.devices; trackBy: trackByFn; let j=index" dnd-sortable [sortableIndex]="j" (onDropSuccess)="dropSuccess({mount_point:eq.type+'#'+(i+1), device:$event})" (onDragEnd)="dragEnd({mount_point:device.mount_point, event:$event})" [dragData]="device">
						<td>
							<mat-icon *ngIf="sortMode" dnd-sortable-handle>drag_handle</mat-icon>&nbsp;
							<span  *ngIf="!sortMode">{{ j+1 }})</span>
							<span *ngIf="_AppService.dbg">{{ device.id }}; [{{ device.order }}]</span>
						</td>
						<td>{{ _refbookService.objTypes[device.id_eq_type]?.name }}</td>
						<td [ngClass]="!device.data?.id_type || device.data?.id_type<0 ? 'not_set' : ''">{{!device.data?.id_type || device.data?.id_type<0 ? '-' : _refbookService.spr_data[device.id_eq_type] ? (_refbookService.spr_data[device.id_eq_type].type[device.data.id_type] ? _refbookService.spr_data[device.id_eq_type].type[device.data.id_type].name : '-err-') : device.data.type.type}}</td>
						<td [ngClass]="!device.data?.id_model || device.data?.id_model<0 ? 'not_set' : ''">{{!device.data?.id_model || device.data?.id_model<0 ? '-' : _refbookService.spr_data[device.id_eq_type] ? (_refbookService.spr_data[device.id_eq_type].model[device.data.id_model] ? _refbookService.spr_data[device.id_eq_type].model[device.data.id_model].name : '-err-') : device.data.model.model}}</td>
						<td [ngClass]="!device.data?.id_diameter || device.data?.id_diameter?.id<0 ? 'not_set' : ''">{{ _refbookService.diameter2[device.data?.id_diameter] ? _refbookService.diameter2[device.data?.id_diameter].diameter : '-'}}</td>
						<td>{{ device.data?.year_release }}</td>
						<td [ngClass]="!device.data?.date_starting ? 'not_set' : ''">{{ device?.data?.date_starting  ? (device?.data?.date_starting | date:'dd.MM.y') : '-' }}</td>
						<td [ngClass]="!device.data?.lifetime ? 'not_set' : ''">{{ device.data?.lifetime ? device.data?.lifetime : '-' }}</td>
						<td [ngClass]="!device.schema_number ? 'not_set' : ''">{{ device.schema_number ? device.schema_number : '-' }}</td>
						<td class="buttons" align="right" *ngIf="_AppService.checkRole('edit')">
							<div class="btn-group" role="group" aria-label="..." >
								<div class="btn-group">
									<button type="button"
											[disabled]="device.data==null"
											class="btn btn-sm btn-default dropdown-toggle"
											matTooltip="Прикреплённые файлы" [matTooltipShowDelay]="400"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false">

										<span class="text-primary glyphicon glyphicon-file"></span>
										&nbsp;
										<span *ngIf="device?.files?.length>0" class="label label-default">{{ device?.files?.length }}</span>
										<span class="caret"></span>
									</button>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#" (click)="addFileEquipment(device)"><span class="text-primary glyphicon glyphicon-file"></span>&nbsp;Добавить файл</a></li>
										<li><a href="#" (click)="do_nothing()"><span class="text-danger glyphicon glyphicon-remove-circle"></span>&nbsp;Отмена</a></li>
										<li role="separator" class="divider"></li>
										<ng-template ngFor let-file [ngForOf]="device.files" let-i="index">
											<li [value]="file.id">
												<a href="{{ file.exist ? _AppService.baseURL+file.link : '#'}}" target="_blank">
													<table class="equipment-files-table" width="100%">
														<tr>
															<td width="5">{{ i+1 }}.</td>
															<td width="5">
																<mat-icon *ngIf="file.exist" svgIcon="{{file.ext}}"></mat-icon>
																<mat-icon *ngIf="!file.exist" class="text-muted" matTooltip="Файл не найден" [matTooltipShowDelay]="200">not_interested</mat-icon>
															</td>
															<td *ngIf="file.exist">{{ file.title }}</td>
															<td *ngIf="!file.exist"
																class="text-muted"
																matTooltip="Файл не найден" [matTooltipShowDelay]="200">{{ file.title }}</td>
															<td width="10">
																<button mat-icon-button
																		matTooltip="Удалить файл" [matTooltipShowDelay]="400"
																		(click)="deleteFile(device, file)">
																	<mat-icon class="text-danger">delete</mat-icon>
																</button>
															</td>
														</tr>
													</table>
												</a>
											</li>
										</ng-template>
									</ul>
								</div>

								<button class="btn btn-sm btn-default"
										(click)="editEquipment(device)"
										matTooltip="Редактировать" [matTooltipShowDelay]="400">
									<span class="text-primary glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-sm btn-default"
										(click)="deleteEquipment(device)"
										matTooltip="Удалить" [matTooltipShowDelay]="400">
									<span class="text-danger glyphicon glyphicon-trash"></span>
								</button>

							</div>

						</td>
					</tr>
				</tbody>
				<!--<tfoot>-->
					<!--<tr>-->
						<!--<td colspan="10"></td>-->
					<!--</tr>-->
				<!--</tfoot>-->
			</table>
		</mat-card-content>
	</mat-card>
	<br>
</ng-template>

<!-- ---------------------------------------------------------------------------------------- -->

<div class="modal fade" bsModal #modal_equipment="bs-modal" tabindex="-1" role="dialog"
	 aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
<!--<modal #modal_equipment (onClose)="saveEquipment(tmp_equipment)" (onDismiss)="cancelSaveEquipment(tmp_equipment) ">-->
			<div class="modal-header">
				<h4 class="modal-title">{{ tmp_equipment.id != '-1' ? 'Редактировать '+tmp_equipment.id : 'Добавить'}}</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modal_equipment.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="panel-body">

					<div class="form-group row">
						<label for="mount_point" class="col-lg-7 col-md-7 col-xs-6 col-form-label required">Место установки</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="mount_point"
									required
									id="mount_point"
									class="form-control"
									[(ngModel)]="tmp_equipment.mount_point">
									<option *ngFor="let item of parent.equipment.enter; let i=index" value="enter#{{i+1}}">Вход {{i+1}}</option>
									<option *ngFor="let item of parent.equipment.line; let i=index" value="line#{{i+1}}">Линия {{i+1}}</option>
									<option *ngFor="let item of parent.equipment.exit; let i=index" value="exit#{{i+1}}">Выход {{i+1}}</option>
									<option *ngFor="let item of parent.equipment.bypass; let i=index" value="bypass#{{i+1}}">Байпас {{i+1}}</option>
									<option *ngFor="let item of parent.equipment.heating; let i=index" value="heating#{{i+1}}">Линия отопления {{i+1}}</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="id_eq_type" class="col-lg-7 col-md-7 col-xs-6 col-form-label required">Вид оборудования</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="id_eq_type"
									required
									[disabled]="true"
									id="id_eq_type"
									class="form-control"
									[(ngModel)]="tmp_equipment.id_eq_type">
								<ng-template ngFor let-item [ngForOf]="(_refbookService.equipment | keys)">
									<option [value]="item.value.id" *ngIf="item.value.id>0">
										{{ item.value.name }}
									</option>
								</ng-template>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="id_type" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Тип</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="id_type"
									id="id_type"
									class="form-control"
									[(ngModel)]="tmp_equipment.data.id_type">
								<ng-template ngFor let-item [ngForOf]="typeRefbook | keys">
									<option [value]="item.value.id">
										{{ item.value.name }}
									</option>
								</ng-template>
								<!--<option value="-2" style="color:red;">-не задан-</option>-->
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="id_mark" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Марка</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="id_mark"
									id="id_mark"
									class="form-control"
									(change)="tmp_equipment.data.id_model=-2"
									[(ngModel)]="tmp_equipment.id_make">
								<ng-template ngFor let-item [ngForOf]="makeRefbook | keys">
									<option [value]="item.value.id">
										{{ item.value.name }}
									</option>
								</ng-template>
								<option value="-99" style="color:blue;">-Все-</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="id_mark" class="col-lg-7 col-md-7 col-xs-6 col-form-label required">Модель</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="id_mark"
									required
									id="id_model"
									class="form-control"
									[(ngModel)]="tmp_equipment.data.id_model">
								<ng-template ngFor let-item [ngForOf]="modelRefbook | keys">
									<option [value]="item.value.id" *ngIf="tmp_equipment.id_make==-99 ? true : (item.value.id_make==tmp_equipment.id_make || item.value.id<0)">
										{{ item.value.name }}
									</option>
								</ng-template>
								<!--<option value="-2" style="color:red;">-не задана-</option>-->
							</select>
						</div>
					</div>

					<div class="form-group row" *ngIf="tmp_equipment.id_eq_type!=1">
						<label for="id_manufacturer" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Изготовитель</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<!--<select name="id_manufacturer"-->
									<!--id="id_manufacturer"-->
									<!--class="form-control"-->
									<!--[(ngModel)]="tmp_equipment.data.id_manufacturer">-->
								<!--<ng-template ngFor let-item [ngForOf]="(_refbookService.manufacturer)">-->
									<!--<option [value]="item.id">-->
										<!--{{ item.name }}-->
									<!--</option>-->
								<!--</ng-template>-->
							<!--</select>-->

							<ng-select [items]="_refbookService.manufacturer"
									   [textField]="'name'"
									   id="id_manufacturer"
									   (data)="selectManufacturer($event)"
									   [active]="[tmp_equipment?.data?.id_manufacturer>0 ? tmp_equipment?.data?.manufacturer?.manufacturer : {id:-2, name:'-не выбрано-'}]"
									   placeholder="Не выбран завод-изготовитель">
							</ng-select>
						</div>
					</div>

					<div class="form-group row" *ngIf="tmp_equipment.id_eq_type!=1">
						<label for="id_diameter" class="col-lg-7 col-md-7 col-xs-6 col-form-label {{ tmp_equipment.id_eq_type==4 ? 'required' : '' }}">Диаметр,  мм</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<select name="id_diameter"
									[required]="tmp_equipment.id_eq_type==4"
									id="id_diameter"
									class="form-control"
									[(ngModel)]="tmp_equipment.data.id_diameter">
								<ng-template ngFor let-item [ngForOf]="(_refbookService.diameter)">
									<option [value]="item.id">
										{{ item.diameter }}
									</option>
								</ng-template>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="year_release" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Год выпуска</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<input id="year_release"
								   name="year_release"
								   type="number"
								   [(ngModel)]="tmp_equipment.data.year_release"
								   class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="date_starting" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Дата установки</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<datetime name="date_starting"
									  id="date_starting"
									  [datepicker]="parent.datepickerOpts"
									  [timepicker]="false"
									  [(ngModel)]="tmp_equipment.data.date_starting"></datetime>
						</div>
					</div>

					<div class="form-group row">
						<label for="term" class="col-lg-7 col-md-7 col-xs-6 col-form-label">
							Назначенный срок службы, лет
						</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<input id="term"
								   name="term"
								   type="number"
								   [(ngModel)]="tmp_equipment.data.lifetime"
								   class="form-control">
						</div>

					</div>

					<div class="form-group row">
						<label for="term" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Серийный номер</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<input id="serial_number"
								   name="serial_number"
								   type="text"
								   [(ngModel)]="tmp_equipment.data.serial_number"
								   class="form-control">
						</div>
					</div>

					<br>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==32">

						<div class="form-group row">
							<label for="flow_direction" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Направление потока</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<select name="flow_direction" id="flow_direction" [(ngModel)]="tmp_equipment.data.flow_direction" class="form-control">
									<option value="r">Слева направо</option>
									<option value="l">Справа налево</option>
									<option value="u">Снизу вверх</option>
									<option value="d">Сверху вниз</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="capacity" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Пропускная способность, м<sup>3</sup>/ч</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<input id="capacity"
									   name="capacity"
									   type="number"
									   step="any"
									   [(ngModel)]="tmp_equipment.data.capacity"
									   class="form-control">
							</div>
						</div>
						Диапазон выходного давления:
						<div class="form-group row">
							<label for="pressure_ranhe_min" class="col-lg-7 col-md-7 col-xs-6 col-form-label">минимальное, МПа</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<input id="pressure_ranhe_min"
									   name="pressure_ranhe_min"
									   type="number"
									   step="any"
									   [(ngModel)]="tmp_equipment.data.pressure_range_min"
									   class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="pressure_ranhe_max" class="col-lg-7 col-md-7 col-xs-6 col-form-label">максимальное, МПа</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<input id="pressure_ranhe_max"
									   name="pressure_ranhe_max"
									   type="number"
									   step="any"
									   [(ngModel)]="tmp_equipment.data.pressure_range_max"
									   class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label for="pressure_setup" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Текущая настройка выходного давления, МПа</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<input id="pressure_setup"
									   name="pressure_setup"
									   type="number"
									   step="any"
									   [(ngModel)]="tmp_equipment.data.pressure_setup"
									   class="form-control">
							</div>
						</div>
					</div>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==10000">
						котёл
						<ul>
							<li>Дата розжига</li>
							<li>Дата отключения</li>
							<li></li>
						</ul>
					</div>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==4">

					</div>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==82 || tmp_equipment.id_eq_type==81">
						<div class="form-group row">
							<label for="trigger_setting" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Настройка срабатывания, МПа</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<input id="trigger_setting"
									   name="trigger_setting"
									   type="number"
									   [(ngModel)]="tmp_equipment.data.trigger_setting"
									   class="form-control">
							</div>
						</div>
					</div>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==80">
						<div class="form-group row">
							<label for="last_clean_date" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Дата последней чистки</label>
							<div class="col-lg-5 col-md-5 col-xs-6">
								<datetime name="last_clean_date"
										  id="last_clean_date"
										  [datepicker]="parent.datepickerOpts"
										  [timepicker]="false"
										  [(ngModel)]="tmp_equipment.data.last_clean_date"></datetime>
							</div>
						</div>


					</div>
					<!-- ----------------------------------------------------------------- -->
					<div *ngIf="tmp_equipment.id_eq_type==31">
						счётчик
						<ul>
							<li>Пломба</li>
						</ul>
					</div>
					<!-- ----------------------------------------------------------------- -->


					<!--<div class="form-group row">-->
						<!--<label for="quantity" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Количество</label>-->
						<!--<div class="col-lg-5 col-md-5 col-xs-6">-->
							<!--<input id="quantity"-->
								   <!--name="quantity"-->
								   <!--[(ngModel)]="tmp_equipment.quantity"-->
								   <!--class="form-control">-->
						<!--</div>-->
					<!--</div>-->
					<br>


					<div class="form-group row" *ngIf="tmp_equipment.id_eq_type!=1">
						<label for="schema_number" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Номер на схеме</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<input id="schema_number"
								   name="schema_number"
								   [(ngModel)]="tmp_equipment.schema_number"
								   class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label for="descr" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Примечание</label>
						<div class="col-lg-5 col-md-5 col-xs-6">
							<textarea id="descr"
								   name="descr"
								   [(ngModel)]="tmp_equipment.descr"
								   class="form-control"></textarea>
						</div>
					</div>

				</div>
				<md-debug *ngIf="_AppService.dbg" [src]="tmp_equipment"></md-debug>
			</div>

			<div class="modal-footer">
				<button class="btn btn-danger" (click)="cancelSaveEquipment(tmp_equipment); modal_equipment.hide()">
					<span class="glyphicon glyphicon-ban-circle"></span>
					&nbsp;Отмена
				</button>
				<button class="btn btn-success" (click)="saveEquipment(tmp_equipment); modal_equipment.hide()">
					<span class="glyphicon glyphicon-ok"></span>
					&nbsp;Сохранить
				</button>
			</div>
		</div>
	</div>

	<md-debug *ngIf="_AppService.debug" [src]="tmp_equipment"></md-debug>
</div>
