.equipment-table>tbody>tr {
  //box-shadow: 0px -7px 18px -15px rgb(0, 0, 0) inset;
}

.equipment-files-table td {
  padding: 0 5px;
}

label.col-form-label {
  border-bottom: 1px dotted #cbcbcb;
}

.form-group.row:hover label {
  color: #f90101;
}

.wrong {
  color: rgba(212, 1, 1, 1);
}

mat-card {
  color: #000;
  transition: color 0.15s;
}
.disabled {
  color: #bcbcbc;
  transition: color 0.15s;
}

.dropdown-menu {
  right: 0 !important;
  left: initial !important;
}

td.buttons {
  width: 150px;
}

/*------------------------------------------------------*/
.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}