<md-debug *ngIf="_AppService.dbg" [src]="{'_AppService.filter':_AppService.filter}"></md-debug>
<mat-card *ngIf="_AppService.actual_version">
    <mat-card-title>

        <mat-toolbar [color]="myColor">
            <span>Список УРГ </span>
			&nbsp;&nbsp;
			<span class="badge">{{ urgsCount }}</span>
			&nbsp;&nbsp;
			<help [param]="'urg'"></help>

            <span class="fill-remaining-space"></span>

            <!--<button mat-mini-fab color="primary" (click)="addUrg()" matTooltip="Добавить новый УРГ" [matTooltipShowDelay]="400">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</button>-->

            &nbsp;
			<button mat-icon-button
					*ngIf="_AppService.dbg"
					color="primary"
					(click)="runUrgSearch()"
					matTooltip="Поиск" [matTooltipShowDelay]="400"
                    [matTooltipShowDelay]="300">
				<mat-icon>search</mat-icon>
			</button>
			&nbsp;
            <button mat-icon-button
					color="primary"
					(click)="reloadAllData()"
					matTooltip="Обновить страницу" [matTooltipShowDelay]="400"
					[matTooltipShowDelay]="300">
                <mat-icon>refresh</mat-icon>
            </button>

        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <!-- ---------------------------------------------------------------------------------- -->
        <div *ngIf="_unitService.loaded">
            <mat-tab-group #opghTabs (selectChange)="opghTabChange($event)" [selectedIndex]="_unitService.indexOPGH[_AppService.app.currentOPGH.id]">
				<ng-template ngFor let-item [ngForOf]="_unitService.units" [ngForTrackBy]="trackByFn">
                    <mat-tab *ngIf="item.id_gasb==_AppService.app.currentOPGH?.id || _AppService.checkRole('root')">
                        <ng-template mat-tab-label>{{ getShortName(item.name) }}</ng-template>

						<table class="filials_container">
							<!-- не показываем то, чего нету в gasb (торф, метан и т.п.) -->
							<ng-template ngFor let-child [ngForOf]="item.childs">
								<tr *ngIf="showParent(item, child)">
								<td *ngIf="child.id_gasb!==''">
									<table class="parent">
										<tr class="parent" (click)="unitClick(child.id)">
											<td class="name">
												<a href="#">
													{{ child.name }}
												</a>
												<mat-progress-spinner [diameter]="30" [strokeWidth]="4" *ngIf="!_urgService.loaded && child.id==_AppService.app.currentUnit.id" mode="indeterminate"></mat-progress-spinner>
											</td>
											<td class="actions">
												<button mat-button
														*ngIf="_AppService.checkRole('edit') && canAdd(child)"
														color="primary"
														type="button"
														(click)="addUrg(child.id)"
														matTooltip="Добавить УРГ" [matTooltipShowDelay]="400"
														class="home-button">
													<mat-icon>add</mat-icon>
												</button>
											</td>
											<td>
												<span *ngIf="canAdd(child)">
													<span *ngFor="let item of child.count">
														<span class="label label-{{ getCountLabelColor(item) }} label-as-badge">{{ item.split(':')[0] }}:</span><span class="label label-{{ getCountLabelColor(item) }} label-as-badge r">{{ item.split(':')[1] }}</span>
													</span>
												</span>
											</td>
										</tr>
										<tr *ngIf="child.id==_AppService.app.currentUnit.id">
											<td colspan="3" class="data">
												<urg-table #urgTable [parent]="getThis()" [urgs]="urgs" [total]="_urgService?.headers?.get('X-Pagination-Total-Count')"></urg-table>
											</td>
										</tr>

										<tr *ngFor="let grandson of child.childs">
											<td colspan="3" *ngIf="showChild(grandson)">
												<table class="child">
													<tr class="child" (click)="unitClick(grandson.id)">
														<td class="name">
															&nbsp;<a href="#">{{ grandson.name }}</a>
															<mat-progress-spinner [diameter]="30" [strokeWidth]="4" *ngIf="!_urgService.loaded && grandson.id==_AppService.app.currentUnit.id" mode="indeterminate"></mat-progress-spinner>
														</td>
														<td class="actions">
															<button mat-button
																	*ngIf="_AppService.checkRole('edit') && canAdd(grandson)"
																	color="primary"
																	type="button"
																	(click)="addUrg(grandson.id)"
																	matTooltip="Добавить УРГ" [matTooltipShowDelay]="400"
																	class="home-button">
																<mat-icon>add</mat-icon>
															</button>
														</td>
														<td>
															<span *ngFor="let item of grandson.count">
																<span class="label label-{{ getCountLabelColor(item) }} label-as-badge">{{ item.split(':')[0] }}:</span><span class="label label-{{ getCountLabelColor(item) }} label-as-badge r">{{ item.split(':')[1] }}</span>
															</span>
														</td>
													</tr>
													<tr *ngIf="grandson.id==_AppService.app.currentUnit.id">
														<td colspan="3" class="data">
															<urg-table #urgTable [parent]="getThis()" [urgs]="urgs" [total]="_urgService?.headers?.get('X-Pagination-Total-Count')"></urg-table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							</ng-template>
						</table>



                     </mat-tab>
				</ng-template>
            </mat-tab-group>
        </div>

        <!-- ---------------------------------------------------------------------------------- -->
        <!--<div class="bottom-corner">-->
            <!--<button mat-fab color="primary" (click)="addUrg()" matTooltip="Добавить новый УРГ" [matTooltipShowDelay]="400">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</button>-->
        <!--</div>-->

    </mat-card-content>
</mat-card>
