:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
/*---------------------------------------*/
table.filials_container {
  margin-top: 30px;
}
table.parent,
table.child,
table.filials_container {
  width: 100%;
}
td {
  padding: 1px;
}
tr.parent td, tr.child td {
  border-bottom: 1px solid #bcbcbc;
}
table.parent tr:hover {
  //background-color: #dcdcdc;
  cursor: pointer;
}

tr.parent:hover, tr.child:hover {
  background: rgba(0, 0, 0, 0.24);
  transition: background 0.2s;
}

table.parent tr.parent td.name {
  font-size: 120%;
  font-weight: bold;
}
td.name {
  width: 200px;
}

td.actions {
  width: 50px;
}

table.parent td.name a:hover,
table.child td.name a:focus {
  text-decoration: none;
}

td .data {
  //margin-left: 50px;
  //border: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  box-shadow: 0 0 59px -24px rgba(0,0,0,.5) inset;
}
/*------------------------------------------------------------*/

td.name mat-progress-spinner {
  float: right;
  margin-top: -3px;
}
