.navbar-brand {
  float: left;
  height: 36px;
  padding: 8px 8px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 30px;
}

@media (min-height: 480px) {
  #BrandDropdown {
    max-height: 440px;
    overflow: auto;
  }
}
@media (min-height: 640px) {
  #BrandDropdown {
    max-height: 600px;
    overflow: auto;
  }
}
@media (min-height: 768px) {
  #BrandDropdown {
    max-height: 730px;
    overflow: auto;
  }
}
@media (min-height: 820px) {
  #BrandDropdown {
    max-height: 900px;
    overflow: auto;
  }
}

.navbar {
  /*position: relative;*/
  /*position: fixed;*/
  /*width: 100%;*/
  min-height: 36px;
  margin-bottom: 20px;
  /*border: 1px solid transparent;*/
  border-radius: 0;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 8px 8px;
}

.navbar-default .navbar-nav > li > a.router-link-active .glyphicon,
.navbar-default .navbar-nav > li > a.router-link-active:hover .glyphicon,
.navbar-default .navbar-nav > li > a.router-link-active:focus .glyphicon {
  color: #2aabd2;
}

.navbar-default .navbar-nav > li > a:hover .glyphicon,
.navbar-default .navbar-nav > li > a:focus .glyphicon {
  color: red;
}

.navbar-default .navbar-nav > li > a {
  color: #d6d6d6;
}

.navbar-inverse .glyphicon {
  color: #fff;
}

/*.dropdown-menu > li > a {*/
  /*border-bottom: 1px solid #bcbcbc;*/
/*}*/
.dropdown-menu > li > a {
  color: #000;
  padding: 5px 20px;
}
.dropdown-menu > li > a:hover {
  background: #bcbcbc;
}
.dropdown-menu > li > a:hover .glyphicon,
.dropdown-menu > li > a:focus .glyphicon {
  color: #369;
}

.dropdown-menu > li > a > span {
  color: #940606;
}

li.attention a {
  color: #ffff00 !important;
  font-weight: bold;
}


#BrandDropdown {
  background: #fff;
}
/*--------------------------------------------------------------*/

.full_name {
  color: #9a9a9a;
}
.unit_name {

}


.router-link-active span {
  color: #00b3ee !important;
}


/*------------------------------------------*/

#loading {
  position: fixed;
  top: 0;
  z-index: 11000;
  width: 100%;
}

#loading mat-progress-bar {
  height: 10px;
}

