<div id="loading" *ngIf="_AppService.loadingInProgress()>0">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<nav id="navbar1" class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#"
				   class="navbar-brand dropdown" data-toggle="dropdown">
					<p>
						<!--<img src="./assets/favicon.ico" id="HeaderLogo" height="15" width="15">-->
						<span class="glyphicon glyphicon-user"></span>
						<!--<mat-icon>&#xE851;<mat-icon>-->
						<span class="full_name">{{ _AppService.user.isGuest ? 'Гость' : _AppService.user.name }} {{ _AppService._unit ? '('+_AppService._unit.indexOPGH_flat[_AppService?.user?.unit?.id]?.name+')' : ''}}</span>
						<span class="unit_name"></span>
						<span class="caret"></span>
					</p>
				</a>
				<ul class="dropdown-menu" id="BrandDropdown" role="menu">


					<li class="divider"></li>

					<li>
						<a [routerLink]="['/help']"
						   [routerLinkActive]="['router-link-active']"
						   [routerLinkActiveOptions]="{exact:true}">
							<span class="glyphicon glyphicon-question-sign"></span>&nbsp;Справка
						</a>
					</li>

					<li>
						<a [routerLink]="['/about']"
						   [routerLinkActive]="['router-link-active']"
						   [routerLinkActiveOptions]="{exact:true}">
							<span class="glyphicon glyphicon-info-sign"></span>&nbsp;О приложении
						</a>
					</li>
					<li *ngIf="_AppService.dbg">
						<a href="#" (click)="sendMessage()">
							<span class="glyphicon glyphicon-send"></span>&nbsp;Написать разработчику
						</a>
					</li>

					<li class="divider" id="DropdownDivider2"></li>

					<li *ngIf="_AppService.user.isGuest">
						<a [routerLink]="['/login']"
						   [routerLinkActive]="['router-link-active']"
						   [routerLinkActiveOptions]="{exact:true}">
							<span class="glyphicon glyphicon-log-in"></span> Войти
						</a>
					</li>

					<li *ngIf="!_AppService.user.isGuest">
						<a href="#" (click)="logout()">
							<span class="glyphicon glyphicon-log-out"></span>&nbsp;Выйти
						</a>
					</li>

					<li>
						<a href="#" (click)="_AppService.toggleDebugMode()" class="text-muted">
							<span *ngIf="_AppService.dbg" class="glyphicon glyphicon-ok-circle text-success"></span>
							<span *ngIf="!_AppService.dbg" class="glyphicon glyphicon-ban-circle text-success"></span>
							Отладка
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar">t</span>
			</button>
		</div>
		<div id="w0-collapse" class="collapse navbar-collapse">
			<ul id="w1" class="navbar-nav navbar-left nav">
				<li>
					<a [routerLink]="['/']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-home"></span>
						&nbsp;Главная
					</a>
				</li>
				<li>
					<a [routerLink]="['/urg']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-folder-open"></span>
						&nbsp;УРГ

						<a [routerLink]="['/urg/add']" class="hidden">add</a>
					</a>
				</li>
				<li class="attention">
					<a [routerLink]="['/docs']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-calendar"></span>
						&nbsp;Графики
					</a>
				</li>
				<li *ngIf="_AppService.dev">
					<a [routerLink]="['/search']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-search"></span>
						&nbsp;Поиск
					</a>
				</li>
				<li>
					<a [routerLink]="['/telemetry']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-cloud-download"></span>
						&nbsp;Телеметрия
					</a>
				</li>
				<li>
					<a [routerLink]="['/ring']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-retweet"></span>
						<!--<mat-icon>&#xE917;<mat-icon>-->
						&nbsp;Кольца
					</a>
				</li>
				<li>
					<a [routerLink]="['/refbooks']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-book"></span>
						&nbsp;Справочники
					</a>
				</li>

				<li>
					<a [routerLink]="['/help']"
					   [routerLinkActive]="['router-link-active']"
					   [routerLinkActiveOptions]="{exact:true}">
						<span class="glyphicon glyphicon-question-sign"></span>&nbsp;Справка
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
