:host > .title {
	background: #006485;
	color: #fff;
	text-align: center;
	padding: 5px;
}

:host > .title.error {
	background: #f11;
}
:host > .title.warning,
:host > .title.confirm {
	background: #f57221;
}
:host .footer {
	border-top: 1px solid #dcdcdc;
	text-align: right;
	padding: 10px;
}

:host > .body {
	padding: 24px;
}
