<mat-card class="parent-card2">
    <mat-card-title>
        <mat-toolbar>
			<b>{{ _refbookService.indexedData[urg?.id_type_urg]?.name }}-{{ urg?.num }}</b>, {{ getAddress(urg?.address) }} &nbsp;&nbsp; <span class="badge">{{ _AppService._unit.indexOPGH_flat[urg?.id_unit] ? _AppService._unit.indexOPGH_flat[urg?.id_unit].name : ''}}</span>

            <span class="fill-remaining-space"></span>

			<a mat-icon-button
					color="primary"
			   		[attr.href]="''+ _AppService.server_params.panorama_Url + 'urg_id='+ urg?.id"
			   		target="_blank"
					matTooltip="Перейти к Панораме" [matTooltipShowDelay]="400">
				<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
				<mat-icon>my_location</mat-icon>
			</a>
			&nbsp;
			<button mat-icon-button
					type="button"
					color="primary"
					(click)="loadUrg(urg.id)"
					matTooltip="Обновить данные" [matTooltipShowDelay]="400">
				<mat-icon>refresh</mat-icon>
			</button>
			&nbsp;
            <button mat-icon-button
                    color="primary"
                    (click)="editUrg()"
                    matTooltip="Перейти в режим редактирования" [matTooltipShowDelay]="400">
                <!--<span class="glyphicon glyphicon-floppy-save"></span>-->
                <mat-icon>mode_edit</mat-icon>
            </button>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>

		<mat-tab-group #opghTabs (selectChange)="viewTabChange($event)" [selectedIndex]="0">
			<mat-tab>
				<ng-template mat-tab-label>Сводная информация</ng-template>
				<br>
				<mat-card>
					<div class="tab_content" *ngIf="loaded">
					<table  class="table table-hover table-sm">
						<tr>
							<td>ID:</td>
							<td>{{ urg?.id }}</td>
						</tr>
						<tr>
							<td>Ответственный за эксплуатацию:</td>
							<td>
								{{ urg?.master?.name }}, {{ urg?.master?.post }}, c {{ urg?.master?.date | date:'dd.MM.y' }}
								<br>
								<ng-container *ngIf="urg.mastersHistory.length>1">
									<ul class="text-muted">
										<ng-container *ngFor="let mh of urg.mastersHistory; first as isFirst">
											<li *ngIf="!isFirst">{{mh.name}}, {{ mh.post }}, {{mh.date | date:'dd.MM.y'}}</li>
										</ng-container>
									</ul>
								</ng-container>
							</td>
						</tr>
						<tr>
							<td>Архивный номер:</td>
							<td>{{ urg?.num_archiv }}</td>
						</tr>
						<tr>
							<td>Инвентарный номер {{ _refbookService.indexedData[urg.id_type_urg] ? _refbookService.indexedData[urg.id_type_urg].name : '' }}:</td>
							<td>{{ urg.num_inventory }}</td>
						</tr>
						<tr *ngIf="urg?.num_inventory_eq != null">
							<td>Инвентарный номер оборудования:</td>
							<td>{{ urg?.num_inventory_eq }}</td>
						</tr>
						<tr>
							<td>Дата приёмки:</td>
							<td>{{ urg?.date_acceptance | date:'dd.MM.y' }}</td>
						</tr>
						<tr>
							<td>Первичный пуск газа:</td>
							<td>{{ urg?.date_startup_gas | date:'dd.MM.y' }}</td>
						</tr>
						<tr>
							<td>Дата принятия в эксплуатацию:</td>
							<td>{{ urg?.date_starting | date:'dd.MM.y' }}</td>
						</tr>
						<tr [ngClass]="!urg?.owner?.id ? 'not_set' : ''">
							<td>Балансовая принадлежность</td>
							<td>{{ urg?.owner?.id ? urg?.owner?.name : '-' }}</td>
						</tr>
					</table>
					<br>
					<table class="table table-hover table-sm">
						<tr [ngClass]="urg?.id_telemetry<0 ? 'not_set' : ''">
							<td>Телеметрия:</td>
							<td>{{ refbook(urg.id_telemetry) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_manufacturer<0 ? 'not_set' : ''">
							<td>Изготовитель:</td>
							<td>{{ refbook(urg.id_manufacturer) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_building_type<0 ? 'not_set' : ''">
							<td>Вид здания (тип конструкции):</td>
							<td>{{ refbook(urg.id_building_type) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_floor_material<0 ? 'not_set' : ''">
							<td>Материал пола:</td>
							<td>{{ refbook(urg.id_floor_material) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_power_supply<0 ? 'not_set' : ''">
							<td>Электроснабжение:</td>
							<td>{{ refbook(urg.id_power_supply) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_light<0 ? 'not_set' : ''">
							<td>Освещение:</td>
							<td>{{ refbook(urg.id_light) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_lighting_protection<0 ? 'not_set' : ''">
							<td>Молниезащита:</td>
							<td>{{ refbook(urg.id_lighting_protection) }}, {{ urg.lighting_protection_resistance }} Ом</td>
						</tr>
						<tr [ngClass]="urg?.id_heating<0 ? 'not_set' : ''">
							<td>Отопление:</td>
							<td>{{ refbook(urg.id_heating) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_communication<0 ? 'not_set' : ''">
							<td>Система связи:</td>
							<td>{{ refbook(urg.id_communication) }}</td>
						</tr>
						<tr>
							<td>Наличие ограждения:</td>
							<td>{{ urg.barrier ? 'есть' : 'отсутствует' }}</td>
						</tr>
						<tr [ngClass]="urg?.id_extinguishing<0 ? 'not_set' : ''">
							<td>Система пожаротушения:</td>
							<td>{{ refbook(urg.id_extinguishing) }}</td>
						</tr>
						<tr [ngClass]="urg?.id_ventilation<0 ? 'not_set' : ''">
							<td>Система вентиляции:</td>
							<td>{{ refbook(urg.id_ventilation) }}</td>
						</tr>
						<tr>
							<td>Расстояние до наружного отключающего устройства, м:</td>
							<td>
								на входе - <b>{{ urg.dist_enter }}</b>
								<br>
								на выходе - <b>{{ urg.dist_exit }}</b>
							</td>
						</tr>
					</table>
					</div> <!-- end tab_content -->
				</mat-card>
			</mat-tab>
			<!-- *************************************************************************************************** -->
			<mat-tab>
				<ng-template mat-tab-label>Отчёты/Печать</ng-template>
				<br>
				<mat-card>
					<ul>
						<ng-container  *ngFor="let item of (_reports.indexedList); let i=index" >
							<li *ngIf="item.name != 'regim'">
								<a href="#" (click)="_reports.print(item.name, urg?.id)" >
									&nbsp;{{ item.display_name }}
								</a>
							</li>
						</ng-container>
					</ul>
				</mat-card>

				<regim-card *ngIf="equipment_loaded2" [urg]="urg" [equipment]="equipmentForRegimGard"></regim-card>

			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					Оборудование
				</ng-template>
				<br>
				<mat-accordion [multi]="true">
					<ng-template ngFor let-eq [ngForOf]="equipment" let-i="index">

						<ng-template ngFor let-eqn [ngForOf]="eq" let-j="index">
							<mat-expansion-panel class="custom" *ngIf="eqn?.devices?.length>0">
								<mat-expansion-panel-header>
									<mat-panel-title>
										{{ types[eqn.type] }}  №{{ j+1 }}
										<span class="badge">{{ eqn?.devices?.length }}</span>
									</mat-panel-title>
									<mat-panel-description>

									</mat-panel-description>
								</mat-expansion-panel-header>

								<mat-accordion [multi]="true">
									<ng-container *ngFor="let item of eqn.devices; let i=index">
										<br *ngIf="i==0">
										<mat-expansion-panel>
											<mat-expansion-panel-header>
												<mat-panel-title>
													{{ i+1 }}) {{ _refbookService.equipment[item.id_eq_type].name }} {{item.data.model.id > 0 ? '- '+item.data.model.model : '' }}
												</mat-panel-title>
												<mat-panel-description>

												</mat-panel-description>
											</mat-expansion-panel-header>
											<br>

											Файлы
											<div class="files-container">
												<file-preview *ngFor="let file of item?.files; let i=index" [file]="file"></file-preview>
											</div>
											<div *ngIf="!item?.files?.length">Нет прикреплённых файлов</div>

										</mat-expansion-panel>
									</ng-container>
								</mat-accordion>
							</mat-expansion-panel>
						</ng-template>

					</ng-template>
				</mat-accordion>
			</mat-tab>
			<!-- *************************************************************************************************** -->
			<mat-tab>
				<ng-template mat-tab-label>Фото/документы</ng-template>
				<br>
					<div class="files-container" >
						<file-preview *ngFor="let file of urg?.files; let i=index" [file]="file"></file-preview>
					</div>
					<div *ngIf="!urg?.files?.length">Нет прикреплённых файлов</div>
				<img width="100%" *ngIf="current_file!=null" src="{{  _AppService.baseURL+current_file }}" class="img-preview">
			</mat-tab>
			<!-- *************************************************************************************************** -->
			<mat-tab>
				<ng-template mat-tab-label>График</ng-template>
				<br>
				<mat-card>
					список выполненных и запланированных работ
				</mat-card>
			</mat-tab>
			<!-- *************************************************************************************************** -->
			<mat-tab>
				<ng-template mat-tab-label>Телеметрия</ng-template>
				<br>
				<mat-card>
					просмотр последних данных телеметрии по текущему УРГ
					<a *ngIf="_AppService.app.currentOPGH.id==22" href="http://192.168.101.33/shrp/?sid={{ _AppService.sid }}" target="_blank"><h3>Перейти к телеметрии</h3></a>
				</mat-card>
			</mat-tab>
			<!-- *************************************************************************************************** -->
			<mat-tab [disabled]="true">
				<ng-template mat-tab-label>3D обзор</ng-template>
				<br>
				интерактивная 3D-картинка - можно заглянуть в каждый угол УРГ
				<br>
				<span class="text-muted">временно удалено из программы</span>
				<!--<model-3d *ngIf="loaded" [urg_id]="urg.id"></model-3d>-->
			</mat-tab>
		</mat-tab-group>


    </mat-card-content>
</mat-card>


<br>
<br>

<md-debug *ngIf="_AppService.dbg" [src]="{EQ: equipment, URG: urg}"></md-debug>



