.seq {
  width: 30px;
}
.buttons {
  width: 135px;
}
.name{
  width: 135px;
}
.number {
  width: 100px;
}

.in_tab {
  font-size: 20px;
  line-height: 2;
}

/*--------------------------*/


.files-container {
  display: flex;
  flex-wrap: wrap;
}

mat-expansion-panel {
  //margin-bottom: 5px;
  //margin-top: 5px;
}