<div class="title">{{ title }}</div>

<div class="body">


    <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
        <h1>Перетащите</h1>

        <p>
            <span>файл сюда или</span>
            <label class="upload-button">
                <input type="file"
                       class="form-control"
                       ngFileSelect
                       multiple
                       (uploadOutput)="onUploadOutput($event)"
                       [uploadInput]="uploadInput">
                выберите
            </label>
        </p>

    </div>

    <div class="uploads" *ngIf="files?.length">

        <table class="table">
            <tr *ngFor="let f of files; let i = index;">
                <td>{{ i+1 }})</td>
                <td>{{ f.name }}</td>
                <td><input *ngIf="filesData[f.id]" type="text" [(ngModel)]="filesData[f.id].title"></td>
                <td>
                    <select *ngIf="filesData[f.id]" name="category" class="form-control" #category [(ngModel)]="filesData[f.id].id_category">
                        <option value="-1" class="red">-Не выбрано-</option>
                        <option value="0">Другое</option>
                        <option value="1">Схема</option>
                        <option value="2">Фотография</option>
                        <option value="3">Документ</option>
                    </select>
                </td>
                <td>
                    <span class="progress-data">{{ f.progress.data.percentage }}% at {{ f.progress.data.speedHuman }} eta {{ f.progress.data.eta }}s</span>
                    <mat-progress-bar
                            [color]="'primary'"
                            [mode]="'determinate'"
                            [value]="f.progress.data.percentage"
                            [bufferValue]="0">
                    </mat-progress-bar>
                </td>
                <!--<td>-->
                    <!--{{f.progress.status}}-->
                    <!--&lt;!&ndash;0 Queue,&ndash;&gt;-->
                    <!--&lt;!&ndash;1 Uploading,&ndash;&gt;-->
                    <!--&lt;!&ndash;2 Done,&ndash;&gt;-->
                    <!--&lt;!&ndash;3 Cancelled&ndash;&gt;-->
                <!--</td>-->
                <td></td>
                <td nowrap width="140" class="text-center">
                    <div class="btn-group" role="group">
                        <button type="button"
                                [disabled]="filesData[f.id].id_category*1<0 || f.progress.status>0 || filesData[f.id].title.trim()==''"
                                class="btn btn-success btn-xs"
                                (click)="uploadFile(f, filesData[f.id])">
                            <mat-icon>file_upload</mat-icon>
                        </button>
                        <button type="button"
                                [disabled]="f.progress.status!=1"
                                class="btn btn-warning btn-xs"
                                (click)="cancelUpload(f.id)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button type="button"
                                [disabled]="f.progress.status==1"
                                class="btn btn-danger btn-xs"
                                (click)="removeFile(f.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <button type="button"
            [disabled]="!canUploadAll()"
            class="btn-success btn"
            (click)="uploadAll()">
        <mat-icon>file_upload</mat-icon>
        Загрузить все файлы
    </button>
    <button type="button"
            [disabled]="!files?.length"
            class="btn-warning btn"
            (click)="cancelAllUpload()">
        <mat-icon>cancel</mat-icon>
        Отменить все
    </button>
    <button type="button"
            [disabled]="!files?.length"
            class="btn-danger btn"
            (click)="removeAllFiles()">
        <mat-icon>delete</mat-icon>
        Удалить все
    </button>
</div>

<div class="footer">
    <button type="button" mat-raised-button (click)="dialogRef.close(result)">Закрыть</button>
</div>
