.send-button {
	width: 100%;
}
.drop-container {
	min-width: 700px;
	border: 3px dashed #ededed;
	width: 100%;
	padding: 50px 0;
	border-radius: 10px;
	margin: 0 0;
	background: #fff;
}
.drop-container.is-drop-over {
	border-color: #f00;
	transition: border-color .5s;
}

.drop-container h1 {
	width: 100%;
	display: block;
	color: #3e3e3e;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}

.drop-container p {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: #cbccd8;
	font-weight: 700;
}

.drop-container p span {
	display: block;
	float: left;
}

.drop-container .upload-button {
	display: block;
	float: left;
	text-decoration: underline;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: 4px;
	color: #3e3e3e;

	font-size: 1em;
	font-weight: bold;
}
.drop-container .upload-button:hover {
	color: #28739e;
}
.drop-container .upload-button input {
	display: none;
}

/*-----------------------*/

.upload-item-top {
	font-size: 12px;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	height: 20px;
	position: relative;
}

.filename {
	color: #65619c;
	display: block;
	float: left;
}
.progress-data {
	color: #a29fc4;
	display: block;
	float: right;
	margin-right: 30px;
}

.x {
	display: block;
	width: 16px;
	height: 16px;
	color: #c11161;
	font-size: 16px;
	position: absolute;
	right: 0;
	top: -5px;
	cursor: pointer;
}