.seq {
  width: 30px;
}
.npp {
  width: 35px;
}
.buttons, .id {
  width: 65px;
  font-size: 0.8em;
}
.name{
  width: 135px;
}
.number {
  width: 100px;
}

tr {
  cursor: pointer;
}

select.pp {
  display: inline;
  width: 55px;
  height: 35px;
  margin-top: 7px;
  float: right;
  margin-right: 15px;
}

.summary {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}

.disabled {
  color: #bcbcbc;
  transition: color 0.15s;
}
table {
  color: #000;
  transition: color 0.15s;
}



table .filter {
  background: #e7e7e7;
}

.filter .active {
  font-weight: bold;
  color: #f00;
}

th {
  text-align: center;
}