<div class="content">
	<div>
		<div class="pages">
			<pagination
					[hidden]="_AppService.filter.urg.page.itemsPP*1 > total*1"
					[itemsPerPage]="_AppService.filter.urg.page.itemsPP"
					previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
					[boundaryLinks]="true"
					[totalItems]="total"
					[(ngModel)]="_AppService.filter.urg.page.currentPage"
					[rotate]="false"
					[maxSize]="10"
					(numPages)="numPages = $event"
					(pageChanged)="pageChanged($event)">
			</pagination>
			<select class="form-control pp"
					#ppp
					[(ngModel)]="_AppService.filter.urg.page.itemsPP"
					(change)="perPageChanged(ppp.value)"
					matTooltip="Количество строк на странице" [matTooltipShowDelay]="400">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="1000000">Все</option>
			</select>
			<div class="summary">
				страница <b>{{ _AppService.filter.urg.page.currentPage }}</b> из <b>{{ numPages }}</b>
			</div>
		</div>


		<table class="table table-striped table-hover table-condensed urg-table" [ngClass]="parent?._urgService?.loaded ? '' : 'disabled' ">
			<!--<caption></caption>-->
			<thead>
				<tr class="text-center">
					<th colspan="2">
						<button mat-raised-button
								color="primary"
								(click)="refreshData()"
								mdTooltip="Обновить список">
							<mat-icon class="md-12">refresh</mat-icon>
						</button>
					</th>
					<th *ngIf="_AppService.dbg">id</th>
					<th class="sortable" [ngClass]="getUrgHeadClass('id_type_urg')"><span class="sort-indicator" (click)="sortUrg('id_type_urg', $event)">Объект</span></th>
					<th class="sortable" [ngClass]="getUrgHeadClass('num_sort')"><span class="sort-indicator" (click)="sortUrg('num_sort', $event)">Номер</span></th>
					<th>Адрес</th>
					<th>Gps</th>
					<th class="text-center">В<br>кольце</th>
				</tr>
				<tr class="filter">
					<td colspan="2" [ngClass]="">
						Фильтр:
						<help [param]="'urg_filter'" style="position: absolute;"></help>
					</td>
					<td *ngIf="_AppService.dbg"></td>
					<td>
						<select class="form-control" #filterType (change)="applyFilter()" [(ngModel)]="_AppService.filter.urg.id_type_urg">
							<option value="-100">Все</option>
							<option *ngFor="let item of (_refbookService.alldata | byParent:1)" value="{{ item.id }}">{{ item.name }}</option>
						</select>
					</td>
					<td>
						<input class="form-control" type="text" [(ngModel)]="_AppService.filter.urg.num"  (keyup.enter)="applyFilter()">
					</td>
					<td></td>
					<td></td>
					<td class="text-center">
						<!--<mat-checkbox [(ngModel)]="_AppService.filter.urg.num"><mat-checkbox>-->
					</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="urgs.length==0">
					<td colspan="7">
						<div *ngIf="urgs.length==0" class="alert alert-default">
							<h3><strong>Нет данных, удовлетворяющих фильтру</strong>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button mat-raised-button
									*ngIf="_AppService.checkRole('edit')"
									color="primary"
									type="button"
									(click)="parent.addUrg()"
									class="home-button">
								<mat-icon>add</mat-icon>
								&nbsp;Добавить
							</button>
							</h3>
						</div>
					</td>
				</tr>
				<tr *ngFor="let item of urgs; trackBy: trackByFn; let i=index;">
					<td class="npp">
						{{ _AppService.filter.urg.page.itemsPP*(_AppService.filter.urg.page.currentPage-1)+i+1 }}
					</td>
					<td class="buttons">
						<div class="btn-group" *ngIf="_AppService.checkRole('edit')">
							<button type="button" class="btn btn-primary btn-xs" (click)="parent.editUrg(item.id)">
								<span class="glyphicon glyphicon-pencil"></span>

							</button>
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-left">
								<li>
									<a href="#" (click)="view(item.id)">
										<span class="glyphicon glyphicon-eye-open"></span>
										&nbsp;Просмотр
									</a>
								</li>
								<li>
									<a href="{{ _AppService.server_params.panorama_Url }}urg_id={{ item.id }}"
									   target="_blank">
										<span class="glyphicon glyphicon-map-marker"></span>
										&nbsp;Открыть на Панораме
									</a>
								</li>
								<li>
									<a href="#" (click)="_reports.print('passport', item.id)">
										<span class="glyphicon glyphicon-print"></span>
										&nbsp;Паспорт объекта
									</a>
								</li>
								<!--<li>-->
									<!--<a href="#" (click)="print('qr-code', item.id)">-->
										<!--<span class="glyphicon glyphicon-qrcode green"></span>-->
										<!--&nbsp;QR-код-->
									<!--</a>-->
								<!--</li>-->
								<li>
									<a href="#" (click)="deleteUrg(item)">
										<span class="glyphicon glyphicon-trash red"></span>
										&nbsp;Удалить
									</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#" (click)="do_nothing()">
										<span class="glyphicon glyphicon-remove-circle red"></span>
										&nbsp;Отмена</a></li>
							</ul>
						</div><!-- /btn-group -->
					</td>
					<td *ngIf="_AppService.dbg" class="id"><span>{{ item.id }}</span></td>
					<td (click)="view(item.id)" class="name text-center">{{ item.type.name }}</td>
					<td (click)="view(item.id)" class="number text-center">{{ item.num }}</td>
					<td (click)="view(item.id)" class="region" *ngIf="item.address.id>0">{{ getAddress(item.address) }}</td>
					<td (click)="view(item.id)" class="region" *ngIf="item.address.id<0">
						<span class="text-danger glyphicon glyphicon-warning-sign"> Внесите адрес! </span>
						<span class="text-muted">{{ item.address_descr }}</span>
					</td>
					<td (click)="view(item.id)" class="text-center">[{{ item.gps.X }}, {{ item.gps.Y }}]</td>
					<td class="text-center" width="10">
						<ng-template #popTemplate>
							<table class="table">
								<tr *ngFor="let r_item of (inCurrentRing | async); index as i">
									<td class="{{ r_item.id==item.id ? 'text-danger' : 'text-muted' }}">{{ i+1 }})</td>
									<td class="{{ r_item.id==item.id ? 'text-danger' : '' }}">{{ r_item.urg }}</td>
									<td class="{{ r_item.id==item.id ? 'text-danger' : 'text-muted' }}">{{ parent._unitService.indexOPGH_flat[r_item.id_unit].name }}</td>
								</tr>
							</table>
						</ng-template>
						<button mat-button
								popoverTitle="Закольцованные УРГ:"
								placement="left"
								triggers="focus"
								[popover]="popTemplate"
								(click)="inCurrentRing = parent.getInRing(item.id_ring)">
							<mat-icon *ngIf="item.id_ring">cached</mat-icon>
						</button>

					</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
		<pagination
			[hidden]="_AppService.filter.urg.page.itemsPP*1 > total*1"
			[itemsPerPage]="_AppService.filter.urg.page.itemsPP"
			previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
			[boundaryLinks]="true"
			[totalItems]="total"
			[(ngModel)]="_AppService.filter.urg.page.currentPage"
			[rotate]="false"
			[maxSize]="10"
			(pageChanged)="pageChanged($event)">
		</pagination>
	</div>
</div>
