:host {
	width: 240px;
	margin: 5px;
}
img.mat-card-image {
//border-bottom: 1px solid #bfbfbf;
//border-top: 1px solid #bfbfbf;
}
mat-card.file-card {
	background: #efefef;
}
mat-card.file-card.error {
	background: rgba(255, 0, 0, 0.2);
}
