<mat-card class="mat-card file-card {{ file.exist ? '' : 'error' }}">
    <mat-card-title-group>
        <div mat-card-avatar class="example-header-image">
            <mat-icon mat-list-avatar svgIcon="{{ file.ext.toLowerCase() }}"></mat-icon>
        </div>
        <mat-card-title>{{ file.title }}</mat-card-title>
        <mat-card-subtitle>{{ file.size }}</mat-card-subtitle>
    </mat-card-title-group>
    <img mat-card-image
         *ngIf="file.exist && ['png','jpg','jpeg','bmp','gif'].indexOf(file.ext.toLowerCase())>-1 "
         src="{{ _AppService.baseURL+'thumb/'+file.link }}">
    <mat-card-content>
        <span *ngIf="!file.exist" class="label label-danger" style="font-size:1.3em">Файл не найден</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="_AppService.checkRole('edit')" (click)="deleteFile(file)" type="button">
            <mat-icon class="text-danger">delete</mat-icon>
            Удалить
        </button>
        <a *ngIf="file.exist" href="{{ _AppService.baseURL+file.link }}" target="_blank" mat-button>
            <mat-icon>file_download</mat-icon>
            Скачать
        </a>

    </mat-card-actions>
</mat-card>
