<div *ngIf="!_AppService.user.isLoggedIn">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Вы не авторизованы!
		<button mat-raised-button
				(click)="_AppService._router.navigate(['/login'])"
				color="primary"
				type="submit"
				class="home-button">Войти
		</button>
		<div *ngIf="_AppService.auth_in_progress"
			 style="margin-left: 20px; color: rgb(6, 140, 126);  display: inline-block">
			<mat-progress-spinner [diameter]="32" [strokeWidth]="4" mode="indeterminate"></mat-progress-spinner>
			Аутентификация...
		</div>
	</div>

</div>

<change-log></change-log>

<br>
<mat-card>
    <mat-card-title>
        <mat-toolbar>
            Главная: статистика
            <span class="fill-remaining-space"></span>
			<button mat-icon-button
					type="button"
					color="primary"
					(click)="getStat()"
					matTooltip="Обновить данные" [matTooltipShowDelay]="400">
				<mat-icon>refresh</mat-icon>
			</button>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>

		<div class="alert alert-warning" role="alert" *ngIf="!_AppService.actual_version">
			Неактуальная версия клиента - нажмите <kbd>Ctrl+F5</kbd>
			<br>
			<br>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Текущая версия клиента: {{ _AppService.version }}
			<br>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Сервер требует версию: {{ _AppService.required_version }}

		</div>

		<table class="table table-bordered table-striped table-hover table-condensed table-sm" style="width: 400px">
			<caption>Всего:</caption>
			<tr>
				<td>УРГ:</td>
				<td class="text-right">{{ data?.total_urg }}</td>
			</tr>
			<tr>
				<td>Прикреплённых файлов (к УРГ):</td>
				<td class="text-right">{{ data?.total_files }}</td>
			</tr>
			<tr>
				<td>Единиц оборудования:</td>
				<td class="text-right">{{ data?.total_equipment }}</td>
			</tr>
		</table>

		<table class="table table-bordered table-striped table-hover table-condensed table-sm" style="width: 400px">
			<caption>По типам УРГ:</caption>
			<tr *ngFor="let t of (data?.countByType | keys)">
				<td>{{ t.key }}:</td>
				<td class="text-right">{{ t.value }}</td>
			</tr>
		</table>

		<table class="table table-bordered table-striped table-hover table-condensed table-sm" style="width: 400px">
			<caption>По видам оборудования:</caption>
			<tr *ngFor="let t of (data?.countByTypeEq | keys)">
				<td>{{ t.key }}:</td>
				<td class="text-right">{{ t.value }}</td>
			</tr>
		</table>
		<table class="table table-bordered table-striped table-hover table-condensed table-sm">
			<caption>По подразделениям и типам:</caption>
			<thead>
				<tr>
					<th>Подразделение</th>
					<th>Файлы</th>
					<th>Объекты</th>
					<th>Оборудование</th>
				</tr>
			</thead>
			<tr *ngFor="let item of (data?.countByUnitAndType | keys)">
				<td>{{ item.key }}</td>
				<td>{{ item.value.urg.files }}</td>
				<td>
					<ul>
						<li> Всего: {{ item.value.urg.objects_count }}</li>
						<li *ngFor="let type of (item.value.urg.objects | keys)">{{ type.key }}:{{ type.value }}</li>
					</ul>
				</td>
				<td>
					<ul>
						<li> Всего: {{ item.value.equipment.objects_count }}</li>
						<li *ngFor="let type of (item.value.equipment.objects | keys)">{{ type.key }}:{{ type.value }}</li>
					</ul>
				</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<table *ngIf="!chrome">
			<tr>
				<td><img src="./assets/img/chrome_175x175.jpeg" alt=""></td>
				<td><span style="font-size: 2em;">Для более комфортной работы рекомендуется использовать браузер Google Chrome</span></td>
			</tr>
			<tr>
				<td></td>
				<td>(если Firefox/Iceweasel, то желательно не ниже 35 версии)</td>
			</tr>
		</table>


    </mat-card-content>
</mat-card>

<br>



