/* заголовки строк и столбцов */
.graphic th,
.graphic td.fixed {
  text-align: left;
  background: #e7e7e7;
  padding: 10px;
  border: 1px solid #d1d1d1;
}
.graphic th {
  text-align: center;
  background: #2b6cad;
  color: #fff;
}
.graphic td.fixed {
  padding: 5px;
}

/* ячейка с работой */
.graphic .cell {
  cursor: pointer;
  display: table-cell;
  position: relative;
  min-width: 30px;
  background-color: #fff;
  border: 1px solid #afafaf;
  margin-right: -1px;
  margin-bottom: -1px;
  text-align: center;
}

/* подсветить заголовки ячейки под курсором*/
.graphic th.selected,
.graphic td.object.selected {
  color: #f00;
}
/* подсветить столбец и строку ячейки под курсором*/
.graphic th.selected {
  background: #aedbff;
}
.graphic tr:hover td,
.graphic .cell.highlited {
  background-color: #e5ffe5;
}
/* ячейка под курсором */
.graphic .cell:hover {
  background-color: #fff !important;
  border-color: red;
  border-width: 1.5px;
}

td.npp {
  border: 1px solid #d1d1d1;
}
/*  границы групп  */
td.group {
  background-color: #fff !important;
}

.graphic {
  border: 2px solid #2b6cad !important;
}
tr.g_bound td {
  border-top: 2px solid #2b6cad !important;
}
td.cell.v_bound {
  border-left: 2px solid #2b6cad !important;
}

/* выбранная ячейка */
.graphic .cell.checked>div {
  border-color: purple;
}

.cell>div {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

td.cell.holiday {
  background: #ffdbdb !important;
}

.table-container {
  overflow: scroll;
}