<div class="form-group">
	<label for="date1">Период:</label>
	&nbsp;&nbsp;
	<div style="display: inline-block; width: 100px;">
		<select id="graphic_term" class="form-control" [(ngModel)]="graphic_term">
			<option [ngValue]="Term.month">Месяц</option>
			<option [ngValue]="Term.year">Год</option>
		</select>
	</div>
	&nbsp;&nbsp;
	<datetime name="date1"
	          style="display: inline-block; width: 170px;"
	          id="date1"
	          [datepicker]="datepickerOpts"
	          [timepicker]="false"
	          [(ngModel)]="graphic_date">
	</datetime>
</div>


<mat-tab-group #tabs [backgroundColor]="warn" >
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon>timeline</mat-icon>
			&nbsp;
			Построение ({{ id<0 ? 'новый' : title }})
		</ng-template>
		<mat-toolbar>
			<button mat-raised-button color="primary" (click)="generateBtnClick()">
				<mat-icon>reorder</mat-icon>
				Сформировать
			</button>
			&nbsp;
			<button mat-raised-button
			        color="primary"
			        *ngIf="false"
			        [disabled]="graph.rows == null"
			        (click)="autoBuildBtnClick()">
				<mat-icon>playlist_play</mat-icon>
				Автопостроение
			</button>
			&nbsp;
			<button mat-raised-button
			        [disabled]="true"
			        color="primary"
			        (click)="validateSchedule()">
				<mat-icon>playlist_add_check</mat-icon>
				Проверить
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button mat-raised-button
			        [disabled]="checked.size==0"
			        color="primary"
			        (click)="checked.clear()">
				<mat-icon>clear</mat-icon>
				Снять выделение
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;

			<button mat-raised-button
					[disabled]="checked.size==0"
			        color="primary"
			        matTooltip="Добавить работу в выделенные ячейки" [matTooltipShowDelay]="300"
			        (click)="addWorksToSelectedCells()">
				<mat-icon>playlist_add</mat-icon>
				Добавить работу
			</button>
			<span class="fill-remaining-space"></span>

			<button mat-mini-fab
			        color="primary"
			        matTooltip="Открыть сохранённый график" [matTooltipShowDelay]="300"
			        (click)="tabs.selectedIndex = 1">
				<mat-icon>folder_open</mat-icon>
			</button>
			&nbsp;
			<button mat-mini-fab
			        [disabled]="cellsData.size==0"
			        color="primary"
			        matTooltip="Сохранить график" [matTooltipShowDelay]="300"
			        (click)="saveScheduleToDb()">
				<mat-icon>save</mat-icon>
			</button>
			&nbsp;
			<button mat-mini-fab
			        [disabled]="!graph.rows"
			        color="warn"
			        *ngIf="false"
			        matTooltip="Удалить текущий график и начать новый" [matTooltipShowDelay]="300"
			        (click)="totalClearSchedule()">
				<mat-icon>fiber_new</mat-icon>
			</button>
			&nbsp;
			<button mat-mini-fab
			        [disabled]="cellsData.size==0"
			        color="accent"
			        matTooltip="Очистить только работы в графике" [matTooltipShowDelay]="300"
			        (click)="clearSchedule()">
				<mat-icon>delete_sweep</mat-icon>
			</button>
		</mat-toolbar>

		<div class="table-container">
			<table class="table-responsive graphic" *ngIf="graph.rows">
				<thead>
				<th>№</th>
				<th *ngFor="let th of graph.headers"> {{ th }}</th>
				<th>Последняя<br>работа</th>
				<th *ngFor="let c of graph.cols" [ngClass]="{ selected: mouseOver.c==c.date}">
					{{ c.name }}
				</th>
				</thead>
				<tbody>
				<ng-container *ngFor="let group of graph.rows; index as i; first as g_isFirst; last as g_isLast">
					<ng-container *ngFor="let obj of group; index as j; first as o_isFirst; last as o_isLast">
						<tr [ngClass]="{g_bound: o_isFirst}">
							<td class="npp text-center">{{ j+1 }}</td>
							<td *ngIf="o_isFirst"
							    [attr.rowspan]="group.length"
							    class="group fixed">
								{{ groups[obj.id_group] ? groups[obj.id_group].name : '-' }}
							</td>
							<td class="object fixed"
							    [ngClass]="{ selected: mouseOver.r==obj.id}"
							    (click)="onObjectClick(obj)">
								{{ obj.name }}
							</td>

							<td class="fixed" *ngFor="let d of obj.data">
								{{ d }}
							</td>

							<td class="fixed text-muted text-center">
								<span *ngFor="let w of obj.works | keys"
								      style="border-radius:2px; padding: 0px; border: 1px solid #bcbcbc"
								      [ngStyle]="{ 'background': works[w.key] ? works[w.key].color : '#' }">
									{{ w.value[0] | date:'dd.MM.y' }}
								</span>
							</td>

							<td *ngFor="let c of graph.cols; first as c_isFirst"
							    matTooltip="{{ obj.name }}, {{ c.name }}" [matTooltipShowDelay]="400"
							    [ngClass]="{ checked: isChecked(obj, c), v_bound: c_isFirst, holiday: checkHoliday(c.id)}"
							    class="cell"
							    (dblclick)="onCellDblClick(obj, c)"
							    (click)="onCellClick(obj, c)">
								<div>
									<span *ngFor="let cd of cellsData.get(obj.id+'_'+c.date)">
										 <span style="display: inline-block; border: 1px solid #bcbcbc; width: 20px; height: 20px; border-radius: 2px;" [style.background]="works[cd] ? works[cd].color : '#000'">&nbsp;</span>
										<br>
									</span>
								</div>
							</td>
						</tr>
					</ng-container>
				</ng-container>
				</tbody>
			</table>
		</div>
		<br>
		<mat-expansion-panel *ngIf="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Легенда
				</mat-panel-title>
				<mat-panel-description>

				</mat-panel-description>
			</mat-expansion-panel-header>

			Виды работ:
			<ul style="list-style: none">
				<li *ngFor="let work of works" value="work.id">
					<span style="display: inline-block; border: 1px solid #bcbcbc; width: 20px; height: 20px; border-radius: 5px;" [style.background]="work.color">&nbsp;</span>
					{{ work.name }}
				</li>
			</ul>
		</mat-expansion-panel>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon>save</mat-icon>
			&nbsp;
			Сохранённые графики
		</ng-template>

		<mat-toolbar>
			<button mat-raised-button color="primary" (click)="getScheduleList()">
				<mat-icon>refresh</mat-icon>
				Обновить список
			</button>

			<span class="fill-remaining-space"></span>

		</mat-toolbar>
		<mat-nav-list>
			<mat-list-item>
				<div matLine class="text-muted">
					<div style="display: inline-block; min-width: 200px">Заголовок</div>
					<div style="display: inline-block; min-width: 100px">Период</div>
					<div style="display: inline-block; min-width: 100px">
						<span class="text-muted">
							Автор,
							 <small>время правки</small>
						</span>
					</div>
				</div>
			</mat-list-item>
			<mat-list-item *ngFor="let item of scheduleList">
				<a matLine href="#" (click)="loadSchedule(item)">
					<div style="display: inline-block; min-width: 200px"><b>{{ item.title }}</b></div>
					<div style="display: inline-block; min-width: 100px">{{ getPeriod(item) }}</div>
					<div style="display: inline-block; min-width: 100px">
						<span class="text-muted">
							{{ item.author }},
							 <small>{{ item.edit_date | date:'d.MM.y H:mm:ss' }}</small>
						</span>
					</div>
				</a>
				<!-- button mat-icon-button
				        (click)="showInfo(item)">
					<mat-icon>info</mat-icon>
				</button -->
				<button mat-icon-button
				        (click)="loadSchedule(item)"
				        matTooltip="Загрузить график" [matTooltipShowDelay]="400">
					<mat-icon class="text-success">file_upload</mat-icon>
				</button>
				<button mat-icon-button
				        (click)="deleteSavedSchedule(item)"
				        matTooltip="Удалить сохранённый график" [matTooltipShowDelay]="400">
					<mat-icon class="text-danger">delete</mat-icon>
				</button>
			</mat-list-item>
		</mat-nav-list>
	</mat-tab>
</mat-tab-group>

<md-debug *ngIf="_AppService.dbg" [src]="{cells: cellsData}"></md-debug>
