<mat-card>
    <mat-card-title>
        <mat-toolbar>
            Данные телеметрии
			<help [param]="'telemetry'"></help>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>

        <a *ngIf="_AppService.app.currentOPGH.id==22" href="http://192.168.101.33/shrp/?sid={{ _AppService.sid }}" target="_blank"><h3>Перейти к телеметрии</h3></a>



    </mat-card-content>
</mat-card>
