.anchor_i {
  position: absolute;
  background: url("../assets/img/i.png");
  background-size: 100%;
  width: 35px;
  height: 35px;
  z-index: 900;
  /*display: none;*/
  cursor: pointer;
}
.anchor_i.selected {
  box-shadow: 0 0 22px 5px rgba(0, 251, 124, 0.5)
}

.description {
  visibility: hidden;
  min-width: 300px;
  position: absolute;
  z-index: 99;
  background: #fff;
  padding: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 4px;
  /*right: 20px;*/
  /*top: 20px;*/
  box-shadow: 1px 8px 28px 5px rgba(0,0,0,.5);
}

.d_caption {
  padding: 5px;
  margin-bottom: 10px;
  background: #5f5f5f;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}
.description {
  font-size: 23px;
}
.description .text {
  text-align: justify;
  margin-bottom: 10px;
}
.description table {
  width: 100%;
  border-collapse: collapse;
}
.description table td{
  border: 1px solid #bcbcbc;
  padding: 1px 3px;
}





.list-group-item .badge, .tooltip-inner {
  font-size: 23px !important;
}
