@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    /*width: 750px;*/
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    /*width: 1200px;*/
    width: 100%;
  }
}

@media (min-width: 1720px) {
  .container {
    width: 1700px;
  }
}

/* 1920 - 1680 - 1440 - 1280 - 1024 - 800 */

/* ------------------------------------------------- */
.box-shadow {
  box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.3);
}
.box-shadow--8 {
  box-shadow: -2px 8px 15px rgba(0, 0, 0, 0.3);
}
.box-shadow--16 {
  box-shadow: -6px 16px 25px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------ */

.modal-content {
  -webkit-box-shadow: -8px 57px 41px rgba(0, 0, 0, 0.3);
  box-shadow: -8px 57px 41px rgba(0, 0, 0, 0.3);
}
.modal-header {
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  background: #2f71aa;
  color: #fff;
  text-align: center;
}

/* ---------------------------------------------- */

.panel.no-margin {
  margin-bottom: 0;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .3);
}

/*.bg-primary,*/
/*.bg-success,*/
/*.bg-info,*/
/*.bg-warning,*/
/*.bg-danger {*/
  /*color: #fff;*/
  /*border-radius: .25em;*/
  /*font-size: 75%;*/
  /*font-weight: 700;*/
  /*padding: .2em .6em .3em;*/
/*}*/
/*.bg-success {*/
  /*background-color: #5cb85c;*/
/*}*/

.label {
  display: inline-block;
}

.label-as-badge {
  border-radius: 0;
}
.label-as-badge.r {
  border-left: 1px dotted #fff;
  margin-left: -1px;
}


.form-control {
  /*display: block;*/
  /*width: 100%;*/
  height: 28px;
  padding: 3px 8px;
  /*font-size: 14px;*/
  /*line-height: 1.42857143;*/
  /*color: #555;*/
  /*background-color: #fff;*/
  /*background-image: none;*/
  /*border: 1px solid #ccc;*/
  border-radius: 2px;
}

.input-group-addon {
  padding: 5px 12px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 7px;
}

.badge-inverse {
  color: #777;
  background: #fff;
}

.modal .close {
  color: #222222;
  position: absolute;
  right: 8px;
  top: 8px;
}

table {
  font-size: 13px;
}

.table-condensed > tbody > tr > td {
  padding: 2px;
}

.pagination > li > a, .pagination > li > span {
  color: #000;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}

.pagination > li > a, .pagination > li > span {
  border-radius: 0;
}

.pagination > li.active > a {
  color: #ffffff;
}

.popover {
  color: #000;
  background-color: #fff;
  font-weight: normal;
}

.popover-title {
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}


.popover.right > .arrow:after, .popover.left > .arrow:after {
  border-right-color: #fff;
  border-left-color: #fff;
}

.label {
  font-weight: 700;
  color: #fff;
  padding: .2em .8em;
}

.label-default {
  background-color: #777;
}

.btn-group .dropdown-toggle.btn-default ~ .dropdown-menu {
  background-color: #ffffff;
  border-color: #cccccc;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-group .btn ~ .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-menu {
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.275);
}

kbd {
   font-size: 105%;
  font-weight: bold;
}

.btn-sm {
  padding: 3px 8px;
}

.btn-xs {
  padding: 2px 5px;
}

/*------------------------------------------------------------*/
.dropdown-header {
  background: #009587;
  color: #fff;
}

/*------------------------------------------------------------*/

.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: #b8daff;
}

.table-secondary, .table-secondary>td, .table-secondary>th {
  background-color: #dddfe2;
}