@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../assets/fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.mat-dialog-container {
  padding: 1px !important;
}


//@import '~@angular/material/theming';
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//$candy-app-primary: mat-palette($mat-indigo);
//$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
//$candy-app-warn:    mat-palette($mat-orange);
//$candy-app-danger:  mat-palette($mat-red);
//
//// Create the theme object (a Sass map containing all of the palettes).
//$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
//@include angular-material-theme($candy-app-theme);
/*--------------------------------------------------*/
$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-indigo, 700, 500, 900);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
/*--------------------------------------------------*/

mat-card mat-card mat-card-title>mat-toolbar {
  border: 1px solid rgba(16, 108, 200, .5);
}

.mat-list-item {
  border-bottom: 1px solid #bcbcbc;
}

.mat-checkbox-layout {
  display: block !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../assets/fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


mat-progress-spinner {
  display: inline-block !important;
  height: 25px !important;
  width:  25px !important;
}
.mat-list-item {
  position: relative;
}

.mat-dialog-container {
  padding: 1px !important;
}

/* ----------------------------------------------------------------------- */
mat-expansion-panel.custom,
mat-expansion-panel.custom>mat-expansion-panel-header {
  border-left: 3px solid #bcc;
}
mat-expansion-panel.custom>mat-expansion-panel-header {
  background: rgba(0, 0, 0, 0.04);
}

mat-expansion-panel.custom .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused,
mat-expansion-panel.custom .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused,
mat-expansion-panel.custom .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  //background: rgba(0, 0, 0, 0.1);
  background: #d7e7f7;
}
/* ----------------------------------------------------------------------- */
.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-selection-list .mat-list-item .mat-list-item-content {
  height: 36px !important;
}

.mat-list-item {
  height: 36px !important;
}
/* ----------------------------------------------------------------------- */
button.mat-icon-button:hover, a.mat-icon-button:hover {
  background: #e9e9e9;
}
