.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

.wrap > .container {
  padding: 0 15px 20px;
}

.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background-color: rgba(117, 117, 117, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.64);
  color: rgba(255, 255, 255, 0.8);
}
.footer a {
  color: #73c8f1;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc::after,
a.desc::after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc::after {
  content: "\e151";
}

a.desc::after {
  content: "\e152";
}

.sort-numerical a.asc::after {
  content: "\e153";
}

.sort-numerical a.desc::after {
  content: "\e154";
}

.sort-ordinal a.asc::after {
  content: "\e155";
}

.sort-ordinal a.desc::after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: rgba(255, 255, 255, 0.8);
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* ------------------------------------------------- */

h1.view_title {
  color: #2a537b;
  text-align: center;
  border-radius: 0;
  padding: 6px;
  margin-top: 0;
  text-shadow: 1px 1px 0 #8c8c8c;
  border-bottom: 3px solid #369;
  font-size: 26px;
  box-shadow: 0 -3px 1px -2px #bbb inset;
}

label {
  color: #940606;
}

/* ------------------------------------------------ */

html {
  //background: url('../assets/img/bg0.png') fixed left top;
  //background-size: 100%;
  height: 100%;
}

body {
  padding-bottom: 25px;
  background-image: url('../assets/img/bg6.png');
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100%;
  font-size: 16px;
}

.descr {
  color: #b1b1b1;
  transition: all 0.2s;
}
.descr:hover {
  color: #000;
}

.null {
  color: #940606;
}

/* ------------------------------------------------ */

.btn_cell {
  width: 10px;
  padding: 4px;
}

/* ------------------------------------------------ */

.align_center, .c {
  text-align: center;
}

.align_left, .l {
  text-align: left;
}

.align_right, .r {
  text-align: right;
}
/*-------------------------------------------------*/
.message-box {
  max-height: 450px;
  overflow: auto;
}

.red {
  color: #f00;
}
.grey {
  color: #bcbcbc;
}


/*************************************************************************/

body {
  min-width: 1050px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#main_container {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .container {
    /*width: 750px;*/
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    /*width: 1200px;*/
    width: 100%;
  }
}

@media (min-width: 1720px) {
  .container {
    width: 1700px;
  }
}

/* 1920 - 1680 - 1440 - 1280 - 1024 - 800 */

/* ------------------------------------------------- */
.box-shadow {
  box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.3);
}
.box-shadow--8 {
  box-shadow: -2px 8px 15px rgba(0, 0, 0, 0.3);
}
.box-shadow--16 {
  box-shadow: -6px 16px 25px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------ */

.modal-content {
  -webkit-box-shadow: -8px 57px 41px rgba(0, 0, 0, 0.3);
  box-shadow: -8px 57px 41px rgba(0, 0, 0, 0.3);
}
.modal-header {
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  background: #008cba;
  color: #fff;
  text-align: center;
}

/* ------------------------------------------------------------------------- */

table.table-custom {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  //border-collapse: separate;
  border-spacing: 0 5px;
  background: #fff;
  padding: 0 3px 3px 3px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}

table.table-custom thead th {
  /* background-color: #3175b0; */
  background-color: #2f71aa;
  color: #fff;
}
table.table-custom th a {
  color: #fff;
}
.table.table-hover > tbody > tr:hover {
  /* background-color: #ddbebf; */
  background-color: #d2dfe9;
  transition: all 0.1s;
}

/* .table > thead > tr > th {
  text-align: center;
} */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

/* table.table-custom tbody tr {
   background-color: #EEEEEE;
} */

table.table-custom th.sortable a {
  color: #fff;
  cursor: pointer;
}

/* ---------------------------------------------- */

.panel.no-margin {
  margin-bottom: 0;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .3);
}

/*.bg-primary,*/
/*.bg-success,*/
/*.bg-info,*/
/*.bg-warning,*/
/*.bg-danger {*/
/*color: #fff;*/
/*border-radius: .25em;*/
/*font-size: 75%;*/
/*font-weight: 700;*/
/*padding: .2em .6em .3em;*/
/*}*/
/*.bg-success {*/
/*background-color: #5cb85c;*/
/*}*/

.label {
  display: inline-block;
}
