/* ------------------------------------------------------------------------- */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

table.table-custom {
  width: 100%;
  margin: auto;
  background: #fff;


  caption {
    text-align: left;
    background-color: #fff;
    color: #616161;
    font-weight: bold;
    font-size: 1.1em;
  }

  th {
    background-color: #5896d3;
    color: #fff;
    font-weight: bold;
  }
}

.table.table-hover > tbody > tr:hover {
  background-color: #d2dfe9;
  transition: all 0.1s;
}

table.table-custom th.sortable a {
  color: #fff;
  cursor: pointer;
}

table.urg-table  {
  @extend .table-custom ;
  caption {
    text-align: center;
  }
}

table.equipment-table {
  @extend .table-custom ;
}
/*----------------------------------------------------------------*/
th.sortable .sort-indicator {
  cursor: pointer;
  position: relative;
}
th.sortable .sort-indicator:hover {
  text-decoration: underline;
}
// after - по возрастанию
// before - по убыванию
th.sortable .sort-indicator:after,
th.sortable .sort-indicator:before {
    content: "";
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #fff transparent;
    visibility: visible;
    right: -15px;
    top: 50%;
    position: absolute;
    opacity: .3;
}
th.sortable .sort-indicator:after {
  margin-top: -4px;
  border-top: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
th.sortable .sort-indicator:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

th.sortable.asc .sort-indicator:before {
  visibility: hidden;
}
th.sortable.asc .sort-indicator:after {
  margin-top: -1px;
  border-bottom: 5px solid #fff;
  opacity: 1;
}
th.sortable.desc .sort-indicator:before {
  margin-top: -1px;
  border-top: 5px solid #fff;
  opacity: 1;
}
th.sortable.desc .sort-indicator:after {
  visibility: hidden;
}
