.bottom-corner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar {
  min-height: 10px !important;
}
mat-toolbar-row {
  height: 40px !important;
}

.parent-card {
  background: rgba(16, 108, 200, 0.38);
}
