//@import '_bootstrap-theme.scss';
@import '_bootstrap_yeti-theme.scss';
@import '_bootstrap.scss';
//@import '_old.scss';
@import '_tables.scss';
@import '_material2-theme.scss';
@import '_urg.scss';
//@import '_3d.scss';

$red: #d70300;
$green: #18d116;
$light_grey: #b1b1b1;

html {
  overflow-y: scroll;
}

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}


// Set up a default font and some padding to provide breathing room
body {
  padding-bottom: 25px;
  //background-image: url('/assets/img/bg6.png');
  background-image: url('../assets/img/bg.jpg');
  background-color: rgba(123, 123, 123, 0.11);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100%;
  font-size: 16px;
}

.wrap {
  height: auto;
  min-height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

.wrap > .container {
  padding: 0 15px 20px;
}

body > .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background-color: rgba(117, 117, 117, 1);
  border-top: 1px solid rgba(255, 255, 255, .17);
  box-shadow: 0 0 20px rgba(0, 0, 0, .64);
  color: rgba(255, 255, 255, .8);
  z-index: 10;
}
footer a {
  color: rgb(115, 200, 241);
}

.red {
  color: $red;
}
.green {
  color: $green;
}
.green {
  color: $light_grey;
}


.has-glyphicon {
  position: relative;
}
.has-glyphicon .form-control{
  padding-right: 40px;
}

.has-glyphicon .attached-glyphicon{
  color: #bcbcbc;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 29px;
  text-align: center;
  pointer-events: none;
}


label.required:after {
  content: " *";
  color: red;
  font-size: 1.2em;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}

.flex {
  display: flex;
  align-items: center;
}

.not_set {
  color: #b1b1b1;
}
