<mat-card>
    <mat-card-title>
        <mat-toolbar>
            О приложении
            <span class="fill-remaining-space"></span>
			<mat-checkbox [(ngModel)]="_AppService.dbg">Отладка</mat-checkbox>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>

            <ul>
				<li>версия {{ _AppService.version }}</li>
				<li>Angular 4.4.4</li>
				<li>Yii 2.0.6</li>
            </ul>

        <br>
        <br>
        <change-log [opened]="true"></change-log>

    </mat-card-content>
</mat-card>
