<mat-card id="parent-card">
    <mat-card-title>

        <mat-toolbar>
            <span>Закольцованные УРГ</span>

			&nbsp;
			&nbsp;
			<span class="badge">{{ rings2.length }}</span>

            <span class="fill-remaining-space"></span>

	         <!--&nbsp;-->
            <button mat-icon-button
                    color="primary"
                    (click)="getAllRings()"
                    matTooltip="Обновить список" [matTooltipShowDelay]="400">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar>

    </mat-card-title>
    <mat-card-content>
		<ng-template ngFor let-ring [ngForOf]="rings2" [ngForTrackBy]="trackByFn" tr let-i="index">
			<mat-card>

				<mat-card-title>{{ i+1 }}</mat-card-title>
				<mat-card-content>
					<mat-list>
						<mat-list-item *ngFor="let item of ring">
							<!--<mat-icon mat-list-icon>folder<mat-icon>-->
							<h4 mat-line>{{ item.urg }} <span class="small text-muted"> {{ _unitService.indexOPGH_flat[item.id_unit].name }} </span></h4>

							<span class="fill-remaining-space"></span>

							<button mat-icon-button
									color="primary"
									(click)="viewUrg(item.id_urg)"
									matTooltip="Перейти в режим просмотра" [matTooltipShowDelay]="400">
								<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
								<mat-icon>visibility</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									color="primary"
									(click)="editUrg(item.id_urg)"
									matTooltip="Перейти в режим редактирования" [matTooltipShowDelay]="400">
								<!--<span class="glyphicon glyphicon-floppy-save"></span>-->
								<mat-icon>mode_edit</mat-icon>
							</button>
							&nbsp;
							<button mat-icon-button
									*ngIf="_AppService.checkRole('edit')"
									matTooltip="Исключить из кольца" [matTooltipShowDelay]="400"
									(click)="excludeFromRing(item)">
								<mat-icon class="text-danger">highlight_off</mat-icon>
							</button>
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
			<br>
		</ng-template>
    </mat-card-content>
</mat-card>



