<div *ngIf="!_AppService.user.isLoggedIn">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Вы не авторизованы!
		<button mat-raised-button
				(click)="_AppService._router.navigate(['/login'])"
				color="primary"
				type="submit"
				class="home-button">Войти
		</button>
		<div *ngIf="_AppService.auth_in_progress" style="margin-left: 20px; color: rgb(6, 140, 126);  display: inline-block">
			<mat-progress-spinner [diameter]="32" [strokeWidth]="4" mode="indeterminate"></mat-progress-spinner>
			Аутентификация...
		</div>
	</div>

</div>

<!-- ************************************************************** -->



<mat-card class="parent-card">
	<mat-card-title>
		<mat-toolbar>
			Графики &nbsp;&nbsp;<small class="text-muted">(v0.1)</small>
			<span class="fill-remaining-space"></span>
			<!--<button mat-icon-button-->
					<!--type="button"-->
					<!--color="primary"-->
					<!--(click)="getStat()"-->
					<!--matTooltip="Обновить данные" [matTooltipShowDelay]="400">-->
				<!--<mat-icon>refresh</mat-icon>-->
			<!--</button>-->
		</mat-toolbar>
	</mat-card-title>
	<mat-card-content>


		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Пояснения
				</mat-panel-title>
				<mat-panel-description>
					Краткая справка. Читать обязательно!
				</mat-panel-description>
			</mat-expansion-panel-header>
			<br>
			<h4 class="text-center"><b>Это стартовая версия построителя графиков. Для продолжения разработки необходимо собрать некоторое количество тестовых данных. Пока только ручной режим. Следующий этап - автопостроение.</b></h4>
			<p>
				Для дальнейшей разработки в качестве образца нужны ваши утверждённые графики (присылайте на почту <a href="mailto:shavneval@oblgas.by">shavneval@oblgas.by</a>)
			</p>
			<p>
				Для автоматического формирования графиков нужно знать дату последнего обхода УРГ - её можно внести в режиме редактирвоание в основных параметрах, сразу после примечания (см. скриншот). <b>Пожалуста, заполните это поле!</b>
			</p>
			<p class="text-center">
				<a href="/assets/img/lastwork.png" target="_blank"><img width="500" src="/assets/img/lastwork.png"></a>
			</p>
			<p>
				Разработчик будет рад выслушать предложения и пожелания по построителю графиков (на почту <a href="mailto:shavneval@oblgas.by">shavneval@oblgas.by</a>, по телефону 80212-49-36-49)
			</p>
			<hr>
				<h2>Как это работает:</h2>
			<ul>
				<li>
					<b>1. Выборка объектов - с помощью поиска набираем нужные для графика УРГ.</b>
					<br>
					- задаём критерии поиска и жмём кнопку "Искать"
					<br>
					- в результатах выборки отмечаем нужные позиции и нажимаем "добавить к графику"
				</li>
				<li>
					<b>2. Настрока периодичности выполнения работ</b>.
					<br>
					этот раздел дополнится (как минимум разделением на телемеханизированный или нет УРГ). Сообщите, если нужно ещё какое-нибудь деление
				</li>
				<li>
					<b>3. Работа с графиком</b>.
					<br>
					После того, ка квыбраны объекты, станет активна кнопка "Объекты выбраны - построить график" - нажимаем, после чего должен сформироваться пустой бланк для графика. Также, если нужен не текущий месяц - можно выбрать нужный период и нажать "Сформировать" - бланк переформируется с учётом выбранного периода
					<br>
					Для добавления работ а ячейки можно дважды кликнуть в нужную яейку и выбрать работу. Второй способ - выделить одиночным кликом нужные ячейки и нажать кнопку "Добавить работу".
					<br>
					После завершения нажимаем кнопку "Сохранить", вводим название для графика в появившемся окне.
					<br>
				</li>
				<li>
					Сохранённый график в дальнейшем можно будет выбрать на вкладке "Сохранённые графики" и загрузить его в рабочую облать для дальнейшей работы
				</li>
			</ul>
			<hr>
			<h2>Что планируется:</h2>
			<ul>
				<li>Экспорт в Excel</li>
				<li>Выдача рапортов и нарядов-задинй</li>
				<li>Отметка о выполнении работ</li>
				<li>Автоматическое формирование графика с возможностью ручной корректировки (в случае нестандартных ситуаций или ошибки программы)</li>
				<li>
					.... Внесите свои предложеения ....
				</li>
			</ul>
			<hr>
			<h4>Попробуйте, пожалуйста, создать хотя бы небольшой график и сохранить его, что бы у разработчка были данные для анализа и работы.</h4>
		</mat-expansion-panel>
		<br>
		<mat-accordion *ngIf="_AppService.user.isLoggedIn">

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						1. Выборка объектов
					</mat-panel-title>
					<mat-panel-description>
						подготовка спискаУРГ для построения графика
					</mat-panel-description>
				</mat-expansion-panel-header>

				<div class="form-group row">
					<div class="col-lg-4 col-md-5 col-xs-8">
						<label for="type_urg">Подразделение</label>
						<select *ngIf="!_AppService.checkRole('root')"
						        name="sub_unit"
						        id="sub_unit"
						        class="form-control"
						        (change)="getMasters($event.target.value)"
						        [(ngModel)]="filter.id_unit">
							<option [value]="unit.id">{{ unit.name }}</option>
							<ng-template ngFor let-child [ngForOf]="unit.childs">
								<option [value]="child.id">&nbsp; {{ child.name }}</option>
								<option *ngFor="let item of child?.childs" [value]="item.id">&nbsp;&nbsp;&nbsp; - {{ item.name }}
								</option>
							</ng-template>
						</select>
						<select *ngIf="_AppService.checkRole('root')"
						        name="sub_unit"
						        id="sub_unit"
						        class="form-control"
						        (change)="getMasters($event.target.value)"
						        [(ngModel)]="filter.id_unit">
							<ng-container *ngFor="let item of (_unitService.indexOPGH2[_AppService.app.currentOPGH.id].childs)">
								<option [value]="item.id">{{ item.name }}</option>
								<option [value]="child.id" *ngFor="let child of item.childs">&nbsp;&nbsp;&nbsp; - {{ child.name }}</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4 col-md-5 col-xs-8">
						<label for="type_urg">Вид УРГ</label>
						<select id="type_urg"
						        class="form-control"
						        [(ngModel)]="filter.id_type_urg"
						        placeholder="Не выбран вид УРГ">
							<option [value]="-1">-Выберите вид УРГ-</option>
							<ng-container *ngFor="let item of (_refbookService.alldata | byParent:1)">
								<option *ngIf="item.id>0" [value]="item.id">{{ item.name }}</option>
							</ng-container>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-4 col-md-5 col-xs-8">
						<label for="master">Мастер</label>
						<ng-select [items]="masters"
						           [textField]="'name'"
						           [idField]="'name'"
						           id="master"
						           (data)="filter.master = $event.text"
						           [active]="[filter.master]"
						           placeholder="Не выбран ответственный за эксплуатацию">
						</ng-select>
					</div>
				</div>
				<br>
				<button mat-raised-button
				        color="primary"
				        (click)="search()">
					<mat-icon>search</mat-icon>
					Искать
				</button>
				<button mat-raised-button
				        *ngIf="search_result.data?.length>0"
				        color="accent"
				        (click)="clearSearch()">
					<mat-icon>clear</mat-icon>
					Очистить результат поиска
				</button>
				<br>
				<br>
				<ng-table [headers]="search_result.headers"
				          [data]="search_result.data"
				          [totalCount]="search_result?.totalCount"
				          [maxHeight]="300"
				          [disabled]="inProgress"
				          (selected)="selected = $event"
				          (onSort)="sortSearchResult($event)"
				          (onPageChange)="searchPageChanged($event)"
				          [checkBoxes]="true"
				          *ngIf="true"></ng-table>
				<br>
				<br>
				<div>
					<button mat-raised-button
					        [disabled]="selected?.size==0"
					        color="primary"
					        (click)="addToGraph()">
						<mat-icon>add_shopping_cart</mat-icon>
						Добавить к графику
						&nbsp;
						<span class="badge badge-inverse">{{ selected.size }}</span>
					</button>
				</div>
				<br>
				<br>
				<div *ngIf="graphObj.size>0">
					Добавлено к графику: {{ graphObj.size }}
					&nbsp;
					<a href="#" (click)="showGraphObj()" *ngIf="graphObj.size>0">{{ showSelected ? 'Спрятать список' : 'Показать список' }}</a>
					<a href="#" (click)="clearGraphObj()" class="text-danger" *ngIf="graphObj.size>0">Очистить список</a>
				</div>

				<table class="table table-small table-condensed table-custom table-bordered table-striped table-hover" *ngIf="showSelected">
					<thead>
						<tr>
							<th>№</th>
							<th>УРГ</th>
							<th>Адрес</th>
							<th>Ответственный</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let obj of graphObj_arr; trackBy: trackByFn; let i = index">
							<td>{{ i+1 }}</td>
							<td>{{ obj.type.name }}-{{ obj.num }}</td>
							<td>{{ obj.full_address }}</td>
							<td>{{ obj.master.name }}</td>
							<td>
								<a href="#" (click)="deleteFromGraphObj(obj.id)">Удалить</a>
							</td>
						</tr>
					</tbody>
				</table>

				<br>
				<md-debug [src]="{filter: filter}" *ngIf="_AppService.dbg"></md-debug>

			</mat-expansion-panel>
			<!-- -------------------------------------------------------------------------------------------------- -->
			<mat-expansion-panel (opened)="panelOpenState = true"
			                     (closed)="panelOpenState = false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						2. Работы
					</mat-panel-title>
					<mat-panel-description>
						настройка работ
					</mat-panel-description>
				</mat-expansion-panel-header>
				<br>
				<mat-toolbar>
					<button mat-raised-button
					        color="primary"
					        (click)="getWorksCfg()">
						<mat-icon>refresh</mat-icon>
						Перезагрузить
					</button>
					&nbsp;
					<button mat-raised-button
					        color="primary"
					        (click)="saveWorksCfg()">
						<mat-icon>save</mat-icon>
						Сохранить
					</button>
				</mat-toolbar>

				<table class="table table-custom table-striped table-hover table-bordered" *ngIf="worksCfg">
					<thead>
						<tr>
							<th></th>
							<th>Вид работ</th>
							<ng-container *ngFor="let item of (_refbookService.alldata | byParent:1)">
								<th *ngIf="item.id>0" class="text-center">{{ item.name }}</th>
							</ng-container>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let work of works; first as isFirst">
							<td>
								<mat-checkbox [(ngModel)]="work.selected" color="primary"></mat-checkbox>
							</td>
							<td>
								<span style="display: inline-block; border: 1px solid #bcbcbc; width: 20px; height: 20px; border-radius: 5px;" [style.background]="work.color">&nbsp;</span>
								{{ work.name }}
							</td>
							<ng-container *ngFor="let urg of (_refbookService.alldata | byParent:1)">
								<td *ngIf="urg.id>0">
									<select class="form-control" [(ngModel)]="worksCfg[urg.id][work.id].p">
										<option value="d">день</option>
										<option value="m" selected>месяц</option>
										<option value="y">год</option>
									</select>
									<input class="form-control text-center" type="number" [(ngModel)]="worksCfg[urg.id][work.id].l">
								</td>
							</ng-container>
						</tr>
					</tbody>
				</table>

				<md-debug *ngIf="_AppService.dbg" [src]="worksCfg"></md-debug>
			</mat-expansion-panel>
			<!-- -------------------------------------------------------------------------------------------------- -->
			<mat-expansion-panel (opened)="panelOpenState = true"
			                     (closed)="panelOpenState = false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						3. График
					</mat-panel-title>
					<mat-panel-description>
						построение графика
					</mat-panel-description>
				</mat-expansion-panel-header>

				<mat-toolbar>
					<div class="col-lg-4 col-md-5 col-xs-8">
						<select *ngIf="!_AppService.checkRole('root')"
						        name="sub_unit"
						        id="sub_unit"
						        class="form-control"
						        (change)="getMasters($event.target.value)"
						        [(ngModel)]="id_unit_schedule">
							<option [value]="unit.id">{{ unit.name }}</option>
							<ng-template ngFor let-child [ngForOf]="unit.childs">
								<option [value]="child.id">&nbsp; {{ child.name }}</option>
								<option *ngFor="let item of child?.childs" [value]="item.id">&nbsp;&nbsp;&nbsp; - {{ item.name }}
								</option>
							</ng-template>
						</select>
						<select *ngIf="_AppService.checkRole('root')"
						        name="sub_unit"
						        id="sub_unit"
						        class="form-control"
						        (change)="getMasters($event.target.value)"
						        [(ngModel)]="id_unit_schedule">
							<ng-container *ngFor="let item of (_unitService.indexOPGH2[_AppService.app.currentOPGH.id].childs)">
								<option [value]="item.id">{{ item.name }}</option>
								<option [value]="child.id" *ngFor="let child of item.childs">&nbsp;&nbsp;&nbsp; - {{ child.name }}</option>
							</ng-container>
						</select>
					</div>
					&nbsp;
					&nbsp;
					<button type="button" mat-raised-button color="primary" (click)="prepareData()" *ngIf="!dataPrepared" [disabled]="graphObj.size==0">
						<mat-icon>directions_run</mat-icon>
						Объекты выбраны <span class="badge badge-inverse">{{ graphObj.size }}</span> - построить график
					</button>
					&nbsp;
					<button type="button" mat-raised-button color="primary" (click)="openSavedSchedule()" *ngIf="!dataPrepared">
						<mat-icon>folder</mat-icon>
						Открыть сохранённый график
					</button>
					<span class="fill-remaining-space"></span>
				</mat-toolbar>
				<br>
				<br>
				<u-schedule *ngIf="dataPrepared"
				            #schedule
				            [id_unit]="id_unit_schedule"
				            [objects]="objects"
				            [obj_headers]="obj_headers"
				            [groups]="groups"
				            [works]="works">
				</u-schedule>

			</mat-expansion-panel>
		</mat-accordion>
		<!-- ----------------------------------------------- -->


	</mat-card-content>
</mat-card>

