
<table class="table table-striped table-hover table-condensed table-sm equipment-table" *ngIf="_refbookService.loaded">
	<!--<caption>-->
	<!---->
	<!--</caption>-->
	<thead>
	<tr>
		<th></th>
		<th>Тип</th>
		<th>Марка</th>
		<th>Количство</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of instrumentation; let i=index">
			<td> {{ i+1 }} <span *ngIf="_AppService.dbg">{{ item.id }};</span></td>
			<td> {{ _refbookService.indexedData[item.id_type] ? _refbookService.indexedData[item.id_type]?.name : item.id_type }}</td>
			<td [ngClass]="item.id_make<0 ? 'not_set' : ''"> {{ _refbookService.instrumentationsprs[item.id_make] ? _refbookService.instrumentationsprs[item.id_make].name : '-' }}</td>
			<td> {{ item.quantity }}</td>
			<td class="buttons text-right" *ngIf="_AppService.checkRole('edit')">
				<div class="btn-group" role="group" aria-label="..." >
					<div class="btn-group">
						<button type="button"
								class="btn btn-sm btn-default dropdown-toggle"
								matTooltip="Прикреплённые файлы" [matTooltipShowDelay]="400"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false">
							<span class="text-primary glyphicon glyphicon-file"></span>
							&nbsp;
							<span *ngIf="item?.files?.length>0" class="label label-default">{{ item?.files?.length }}</span>
							<span class="caret"></span>
						</button>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#" (click)="addFileInstrumentation(item)"><span class="text-primary glyphicon glyphicon-file"></span>&nbsp;Добавить файл</a></li>
							<li><a href="#" (click)="do_nothing()"><span class="text-danger glyphicon glyphicon-remove-circle"></span>&nbsp;Отмена</a></li>
							<li role="separator" class="divider"></li>
							<ng-template ngFor let-file [ngForOf]="item.files" let-i="index">
								<li [value]="file.id">
									<a href="{{ _AppService.baseURL+file.link }}" target="_blank">
										<table class="equipment-files-table" width="100%">
											<tr>
												<td width="5">{{ i+1 }}.</td>
												<td width="5">
													<mat-icon svgIcon="{{file.ext}}"></mat-icon>
												</td>
												<td>{{ file.title }}</td>
												<td width="10">
													<button class="btn btn-xs btn-danger"
															matTooltip="Удалить файл" [matTooltipShowDelay]="400"
															(click)="deleteFile(item, file)">
														<span class="glyphicon glyphicon-remove-circle"></span>
													</button>
												</td>
											</tr>
										</table>
									</a>
								</li>
							</ng-template>
						</ul>
					</div>

					<button class="btn btn-sm btn-default"
							(click)="editInstrumentation(item)"
							matTooltip="Редактировать" [matTooltipShowDelay]="400">
						<span class="text-primary glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-sm btn-default"
							(click)="deleteInstrumentation(item)"
							matTooltip="Удалить" [matTooltipShowDelay]="400">
						<span class="text-danger glyphicon glyphicon-trash"></span>
					</button>

				</div>
			</td>
		</tr>
	</tbody>
</table>

<br>


<!-- ---------------------------------------------------------------------------------------- -->
<div class="modal fade" bsModal #modal_instrumentation="bs-modal" tabindex="-1" role="dialog"
	 aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
<!--<modal #modal_instrumentation (onClose)="saveInstrumentation(tmp_instrumentation)" (onDismiss)="cancelSaveInstrumentation(tmp_instrumentation)">-->
			<div class="modal-header">
				<h4 class="modal-title">{{ (tmp_instrumentation.id | asNumber)>0 ? 'Редактировать '+tmp_instrumentation.id : 'Добавить'}}</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modal_instrumentation.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="panel-body">

					<div class="form-group row">
						<label for="id_type" class="col-lg-5 col-md-5 col-xs-4 col-form-label required">Тип КИП</label>
						<div class="col-lg-7 col-md-7 col-xs-8">
							<select name="id_type"
									required
									id="id_type"
									class="form-control"
									(change)="selectType($event.target.value)"
									[(ngModel)]="tmp_instrumentation.id_type">
								<ng-template ngFor let-item [ngForOf]="(_refbookService.alldata | byParent:60)">
									<option [value]="item.id" *ngIf="item.id>0">
										{{ item.name }}
									</option>
								</ng-template>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label for="id_make" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Марка</label>
						<div class="col-lg-7 col-md-7 col-xs-8">
							<ng-select [items]="getMakeSpr(tmp_instrumentation.id_type)"
									   [textField]="'name'"
									   id="id_make"
									   [active]="[_refbookService?.instrumentationsprs[tmp_instrumentation.id_make] ? _refbookService?.instrumentationsprs[tmp_instrumentation.id_make] : {id:-2, name: '-не задан-'}]"
									   (data)="tmp_instrumentation.id_make = $event.id"
									   placeholder="Не выбрана марка">
							</ng-select>
						</div>
					</div>


					<div class="form-group row">
						<label for="quantity" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Количество</label>
						<div class="col-lg-7 col-md-7 col-xs-8">
							<input id="quantity"
								   name="quantity"
								   type="number"
								   [(ngModel)]="tmp_instrumentation.quantity"
								   class="form-control">
						</div>
					</div>




					<div class="form-group row" *ngIf="false">
						<label for="serial_number" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Серийный номер</label>
						<div class="col-lg-7 col-md-7 col-xs-8">
							<input id="serial_number"
								   name="serial_number"
								   type="text"
								   [(ngModel)]="tmp_instrumentation.serial_number"
								   class="form-control">
						</div>
					</div>


					<!-- ----------------------------------------------------------------- -->


					<!--<div class="form-group row">-->
						<!--<label for="quantity" class="col-lg-7 col-md-7 col-xs-6 col-form-label">Количество</label>-->
						<!--<div class="col-lg-5 col-md-5 col-xs-6">-->
							<!--<input id="quantity"-->
								   <!--name="quantity"-->
								   <!--[(ngModel)]="tmp_equipment.quantity"-->
								   <!--class="form-control">-->
						<!--</div>-->
					<!--</div>-->
					<br>

					<div class="form-group row">
						<label for="descr" class="col-lg-5 col-md-5 col-xs-4 col-form-label">Примечание</label>
						<div class="col-lg-7 col-md-7 col-xs-8">
							<textarea id="descr"
								   name="descr"
								   [(ngModel)]="tmp_instrumentation.descr"
								   class="form-control"></textarea>
						</div>
					</div>

				</div>
				<md-debug *ngIf="_AppService.dbg" [src]="tmp_instrumentation"></md-debug>
			</div>

			<div class="modal-footer">
				<button class="btn btn-danger" (click)="cancelSaveInstrumentation(tmp_instrumentation); modal_instrumentation.hide()">
					<span class="glyphicon glyphicon-ban-circle"></span>
					&nbsp;Отмена
				</button>
				<button class="btn btn-success" (click)="saveInstrumentation(tmp_instrumentation); modal_instrumentation.hide()">
					<span class="glyphicon glyphicon-ok"></span>
					&nbsp;Сохранить
				</button>
			</div>

		</div>
	</div>
</div>
