<!DOCTYPE html>
<html lang="ru">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= APP_BASE %>assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body id="body">

  <!---->

  <urg-app>
    <div class="wrap">
      <div class="container">
        <div class="loading"
             style="width: 300px;
						    margin: auto;
						    margin-top: 200px;
						    text-align: center;">

          <div class="txt">Загрузка...</div>
          <ul class="loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <style>
            .txt {
              font-size: 27px;
              color: #2492EC;
              text-shadow: 1px 100px 11px rgba(0, 0, 0, .5);
              margin-bottom: 20px
            }

            .loader {
              z-index: 3;
              margin: 0 auto;
              height: 50px;
              list-style: none
            }

            @keyframes loadbars {
              0% {
                height:5px;
                margin-top:22px
              }
              20% {
                height:50px;
                margin-top:0;
                background-color:#f00;
              }
              40% {
                background-color:#2492EC;
              }
              100% {
                height:5px;
                margin-top:22px
              }
            }

            .loader>li {
              background-color: #2492EC;
              width: 20px;
              height: 10px;
              float: left;
              margin-right: 5px;
              box-shadow: 0 100px 20px rgba(0, 0, 0, .2);
              border-radius: 3px
            }

            li:first-child {
              animation:loadbars 1.5s ease-in-out infinite -.9s
            }

            li:nth-child(2) {
              animation:loadbars 1.5s ease-in-out infinite -.8s
            }

            li:nth-child(3) {
              animation:loadbars 1.5s ease-in-out infinite -.7s
            }

            li:nth-child(4) {
              animation:loadbars 1.5s ease-in-out infinite -.6s
            }

            li:nth-child(5) {
              animation:loadbars 1.5s ease-in-out infinite -.5s
            }

            li:nth-child(6) {
              animation:loadbars 1.5s ease-in-out infinite -.4s
            }

            li:nth-child(7) {
              animation:loadbars 1.5s ease-in-out infinite -.3s
            }

            li:nth-child(8) {
              animation:loadbars 1.5s ease-in-out infinite -.2s
            }

            li:nth-child(9) {
              animation:loadbars 1.5s ease-in-out infinite -.1s
            }

            li:nth-child(10) {
              animation:loadbars 1.5s ease-in-out infinite 0s
            }
          </style>
        </div>
      </div>
    </div>
  </urg-app>

  <footer class="footer" id="footer">

    <p id="version" style="position: absolute;
    	width: 100%;
    	display: block;
    	text-align: center;
    	margin: auto;
    	z-index: -1;">v. <%= VERSION %></p>

    <div class="container">
      <p class="pull-left">© Витебскоблгаз, 2017. &nbsp;&nbsp;<a id='admin_email' href="mailto:shavneval@oblgas.by">shavneval@oblgas.by</a></p>


      <p class="pull-right"><a href="https://angular.io" target="_blank"><img width="16" src="<%= APP_BASE %>assets/img/angular.ico">
        Angular 5</a></p>
      <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="pull-right"><a href="http://www.yiiframework.com/" target="_blank" rel="external"><img
        src="<%= APP_BASE %>assets/img/yii2.ico"> Yii 2</a></p>
      <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="pull-right">Работает на</p>

    </div>
  </footer>


  <!---->

  <!-- script defer>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
    ga('send', 'pageview');
  </script -->

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
