<mat-expansion-panel [expanded]="opened">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Добавлено/исправлено в текущей версии:
        </mat-panel-title>
        <mat-panel-description>
            <b>{{ log[0].version }}</b> &nbsp;&nbsp;&nbsp; ({{ log[0].date }})
        </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <ul style="margin-left: 30px">
        <li *ngFor="let item of log[0].content">{{ item.text }}</li>
    </ul>
    <br>
    <br>

    <mat-expansion-panel *ngIf="log[0].subversions">
        <mat-expansion-panel-header>
            <mat-panel-title>
                исправления:
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let sub_item of log[0].subversions">{{ sub_item.version }} &nbsp;&nbsp; ({{ sub_item.date }}):
                <ul>
                    <li *ngFor="let sub_content of sub_item.content">{{ sub_content.text }}</li>
                </ul>
            </li>
        </ul>
    </mat-expansion-panel>

    <br>
    <br>
    <div class="text-muted">
        Ожидается в следующей версии:
        <ul>
            <li *ngFor="let item of inFuture">{{ item.text }}</li>
        </ul>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Прошлые версии:
            </mat-panel-title>
        </mat-expansion-panel-header>
        <br>

        <ng-container *ngFor="let item of log; first as isFirst">

            <mat-expansion-panel *ngIf="!isFirst">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>{{ item.version }}</b> &nbsp;&nbsp;&nbsp; ({{ log[0].date }})
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let c of item.content">{{ c.text }}</li>
                </ul>

            </mat-expansion-panel>
        </ng-container>


    </mat-expansion-panel>
</mat-expansion-panel>