:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.wrapp {
  overflow: auto;
}
.nav-refbook {
  float: left;
  width: 230px;
}

.content-refbook {
  margin-left: 250px;
}

.table-condensed td {
  padding: 0 5px;
}

a.active, a:hover {
  background: #e6efea;
}

a:hover {
  background: rgb(206, 241, 222);
}


mat-progress-spinner {
 position: absolute;
  right: 7px;
  top: 7px;
}
