<mat-card>
	<mat-card-title>
		<mat-toolbar>
			<span>Редактирование справочника "{{ currentRefbookName }}"</span>
			<help [param]="'refbooks'"></help>
			<span class="fill-remaining-space"></span>
			<button mat-mini-fab color="primary" (click)="refreshData()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</mat-toolbar>
	</mat-card-title>
	<mat-card-content>
		<mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="currentTab" [headerPosition]="'left'">
			<mat-tab label="Cправочники УРГ" >
				<br>
				<div class="wrapp">
					<div class="nav-refbook">
						<mat-list dense>
							<a mat-list-item
							   href="#"
							   [ngClass]="currentRefbook==item.id ? 'active' : ''"
							   *ngFor="let item of refbooks"
							   (click)="refSelect(item.id)">{{ item.name }}
								<mat-progress-spinner [diameter]="30" [strokeWidth]="4" *ngIf="reloadInProgress && currentRefbook==item.id" mode="indeterminate"></mat-progress-spinner>
							</a>
						</mat-list>
					</div>

					<div class="content-refbook">
						Количество строк <span class="badge">{{ items.length }}</span>
						<table class="table table-bordered table-striped table-hover table-condensed" *ngIf="items.length">
							<thead>
							<tr>
									<th>id</th>
									<th>Значение</th>
									<th *ngIf="_AppService.checkRole('root')"></th>
								</tr>
							</thead>
							<tbody>
							<tr *ngFor="let item of items; let i = index">
								<td width="50">{{ item.id }}</td>
								<td (click)="showEditDialog(item)">{{ item.data.name }}</td>
								<td width="100" *ngIf="_AppService.checkRole('root')">
									<div  *ngIf="_AppService.checkRole('gspr')">
										<a class="btn btn-link" (click)="showEditDialog(item)">
											<span class="glyphicon glyphicon-pencil blue"></span>
										</a>
										<a class="btn btn-link" (click)="showDeleteDialog(item)">
											<span class="glyphicon glyphicon-trash red"></span>
										</a>
									</div>
								</td>
							</tr>
							</tbody>


						</table>

						<button mat-raised-button
								*ngIf="_AppService.checkRole('gspr') && currentRefbook!=0"
								color="primary"
								type="button"
								matTooltip="Добавить строку в выбранный справочник" [matTooltipShowDelay]="400"
								(click)="addItem()"
								class="home-button">
							<mat-icon>add</mat-icon>
							&nbsp;Добавить
						</button>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Справочники оборудования">
				<div class="nav-refbook">
					<mat-list dense *ngIf="_refbookService.eq_loaded">
						<a mat-list-item
						   *ngFor="let item of _refbookService.equipment | keys"
						   [ngClass]="currentEq==item.value.id ? 'active' : ''"
						   href="#"
						   (click)="eqRefSelect(item.value.id)">{{ item.value.name }}
							<mat-progress-spinner [diameter]="30" [strokeWidth]="4"  *ngIf="reloadInProgress && currentEq==item.value.id" mode="indeterminate"></mat-progress-spinner>
						</a>
					</mat-list>
				</div>
				<div class="content-refbook">
					<div style="padding: 10px;">
						Марки, модели, типы по каждому оборудованию	с возможностью привязки документации
					</div>
					<div *ngIf="currentEq>0">
						Количество строк <span class="badge">{{ 0 }}</span>
						<button mat-button
								*ngIf="_AppService.checkRole('gspr')"
								color="primary"
								type="button"
								(click)="addType(currentEq)"
								class="home-button">
							<mat-icon>add</mat-icon>
							&nbsp;Добавить тип
						</button>
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
							<tr>
								<th>id</th>
								<th>Тип</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let item of (eqItems.type | keys); let i = index">
								<td width="50">{{ item.value.id }}</td>
								<td (click)="showEqEditDialog(item.value)">{{ item.value.name }}</td>
								<td width="100">
									<div  *ngIf="_AppService.checkRole('gspr')">
										<a class="btn btn-link" (click)="showEqEditDialog(item.value)">
											<span class="glyphicon glyphicon-pencil blue"></span>
										</a>
										<a class="btn btn-link" (click)="showEqDeleteDialog(item.value)">
											<span class="glyphicon glyphicon-trash red"></span>
										</a>
									</div>
								</td>
							</tr>
							</tbody>
						</table>


						Количество строк <span class="badge">{{ 0 }}</span>
						<button mat-button
								*ngIf="_AppService.checkRole('gspr')"
								color="primary"
								type="button"
								(click)="addMake(currentEq)"
								class="home-button">
							<mat-icon>add</mat-icon>
							&nbsp;Добавить марку
						</button>
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
							<tr>
								<th>id</th>
								<th>Марка</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<ng-template ngFor let-item [ngForOf]="eqItems.make | keys" let-i="index">
								<tr>
									<td width="70">
										<mat-icon *ngIf="item.value.id>-10">keyboard_arrow_down</mat-icon>
										<!--<mat-icon>keyboard_arrow_right<mat-icon>-->
										{{ item.value.id }}
									</td>
									<td (click)="showEqEditDialog(item.value)">{{ item.value.name }}</td>
									<td width="100">
										<div  *ngIf="_AppService.checkRole('gspr')">
											<a class="btn btn-link" (click)="showEqEditDialog(item.value)">
												<span class="glyphicon glyphicon-pencil blue"></span>
											</a>
											<a class="btn btn-link" (click)="showEqDeleteDialog(item.value)">
												<span class="glyphicon glyphicon-trash red"></span>
											</a>
										</div>
									</td>
								</tr>
								<tr *ngIf="item.value.id>-10">
									<td></td>
									<td colspan="2">
										<button mat-button
												*ngIf="_AppService.checkRole('gspr')"
												color="primary"
												(click)="addModel(currentEq)"
												type="button"
												class="home-button">
											<mat-icon>add</mat-icon>
											&nbsp;Добавить модель
										</button>

										<ul>
											<li *ngFor="let item2 of eqItems.model | keys">
												<div *ngIf="item2.value.id_make==item.value.id">{{ item2.value.name }}
													<button mat-button
															*ngIf="_AppService.checkRole('gspr')"
															color="primary"
															(click)="addInstruction(item.value.id)"
															type="button"
															class="home-button">
														<mat-icon>add</mat-icon>
														&nbsp;Добавить инструкцию
													</button>
												</div>
											</li>
										</ul>
									</td>
								</tr>
							</ng-template>
							</tbody>
						</table>




					</div>
				</div>
			</mat-tab>

			<mat-tab label="Прочие справочники">
				<br>
				<div class="wrapp">
					<div class="nav-refbook">
						<mat-list dense>
							<a mat-list-item
							   routerLink="."
							   [ngClass]="currentOtherRefbook=='manufacturer' ? 'active' : ''"
							   (click)="refOtherSelect('manufacturer')">
								Заводы-изготовители
								<mat-progress-spinner [diameter]="30" [strokeWidth]="4" *ngIf="reloadInProgress && currentOtherRefbook=='manufacturer'" mode="indeterminate"></mat-progress-spinner>
							</a>
							<a mat-list-item
							   routerLink="."
							   [ngClass]="currentOtherRefbook=='owners' ? 'active' : ''"
							   (click)="refOtherSelect('owners')">
								Балансовая принадлежность
								<mat-progress-spinner [diameter]="30" [strokeWidth]="4" *ngIf="reloadInProgress && currentOtherRefbook=='owners'" mode="indeterminate"></mat-progress-spinner>
							</a>
						</mat-list>
					</div>

					<div class="content-refbook">
						{{ currentOtherRefbook }}
					</div>

				</div>
			</mat-tab>
		</mat-tab-group>


	</mat-card-content>
</mat-card>


<!-- --------------------------------------------------------------------------------- -->
<div class="modal fade" bsModal #modal_save="bs-modal" tabindex="-1" role="dialog"
	 aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <form #saveForm="ngForm">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
		            <h4 class="modal-title">{{ edit_item.id==null ? 'Добавление' : 'Редактирование'}}</h4>
					<button type="button" class="close pull-right" aria-label="Close" (click)="modal_save.hide()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-4" for="name">Наименование</label>
							<div class="col-sm-8">
								<input autofocus
									   required
									   id="name"
									   name="name"
									   type="text"
									   class="form-control"
									   [(ngModel)]="edit_item.data.name">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4" for="descr">Примечание</label>
							<div class="col-sm-8">
								<input id="descr"
									   name="descr"
									   type="text"
									   class="form-control"
									   [(ngModel)]="edit_item.data.descr">
							</div>
						</div>
					</div>
            	</div>
				<div class="modal-footer" *ngIf="_AppService.checkRole('root')">
					<button class="btn btn-default" (click)="modal_save.hide()">
						<span class="glyphicon glyphicon-ban-circle"></span>
						&nbsp;Отмена
					</button>
					<button class="btn btn-success" [disabled]="!saveForm.valid" (click)="saveItem(); modal_save.hide()">
						<span class="glyphicon glyphicon-floppy-save"></span>
						&nbsp;Сохранить
					</button>
				</div>
			</div>
		</div>
    </form>
</div>
<!-- --------------------------------------------------------------------------------- -->




