<sd-toolbar></sd-toolbar>
<sd-navbar></sd-navbar>

<bread-crumb></bread-crumb>
<div class="container" id="main_container">

    <div class="view">
        <router-outlet></router-outlet>
    </div>

    <br>
    <br>

	<md-debug *ngIf="_AppService.dbg" [src]="{API:_AppService.baseURL, APP:_AppService.app, USER:_AppService.user, SID: _AppService.sid}"></md-debug>
</div>


<scrolling-buttons class="top"></scrolling-buttons>
<scrolling-buttons class="bottom"></scrolling-buttons>

